<section{{ attributes.addClass('b-awardsList') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="b-awardsList__inner inner">
    <h1 class="visually-hidden">Награды</h1>

    <ul class="b-awardsList__list">
      <li class="b-awardsList__item b-awardsList__item--gold">{{ 'Золото'|t }}<span class="b-awardsList__num">12</span>
      </li>
      <li class="b-awardsList__item b-awardsList__item--silver">{{ 'Серебро'|t }}<span class="b-awardsList__num">3</span>
      </li>
      <li class="b-awardsList__item b-awardsList__item--bronze">{{ 'Бронза'|t }}<span class="b-awardsList__num">4</span>
      </li>
      <li class="b-awardsList__item b-awardsList__item--shortlist">{{ 'Шорт-лист'|t }}<span class="b-awardsList__num">2</span>
      </li>
    </ul>
  </div>
</section>

<section class="b-awardsAll">
  <div class="b-awardsAll__inner inner">
    {{ content.field_award }}
  </div>
</section>
