{{ attach_library('premo/counter') }}
<section class="b-awards"{{ attributes }}>
  <div class="b-awards__inner inner">
    {{ title_prefix }}
    {{ title_suffix }}

    <h2 class="visually-hidden">{{ content.field_title_hidden[0] }}</h2>
    <div class="b-awards__number">{{ content.field_number[0] }}</div>
    <div class="b-awards__cnt">
      <div class="b-awards__body">{{ content.body[0] }}</div>
      <a class="b-awards__link" href="{{ content.field_link[0]['#url'] }}">{{ content.field_link[0]['#title'] }}</a>
    </div>

    <div class="b-awards__bg"></div>
  </div>
</section>
