<div{{ attributes.addClass('b-awardsAll__itemInner') }}>
  <div class="b-awardsAll__logo">
    {{ content.field_image[0] }}
  </div>
  <div class="b-awardsAll__card">
    <h3 class="b-awardsAll__title">{{ content.field_title[0] }}</h3>

    {{ content.field_winnings_projects }}
  </div>
</div>
