<section{{ attributes.addClass('p-contacts') }}>
  <div class="p-contacts__inner inner">

    {{ title_prefix }}
    {% if label %}
      <h1 class="p-contacts__heading pageTitle">{{ label }}</h1>
    {% endif %}
    {{ title_suffix }}

    <address class="p-contacts__cnt">
      <div class="p-contacts__row p-contacts__row--address">
        <p class="p-contacts__address">{{ content.field_address[0] }}</p>
        <a class="p-contacts__addressLink" href="{{ content.field_route_link[0]['#url'] }}" target="_blank">{{ content.field_route_link[0]['#title'] }}</a>
      </div>
      <div class="p-contacts__row p-contacts__row--phoneMail">
        <div class="p-contacts__item">
          <div class="p-contacts__label">{{ content.field_phone['#title'] }}</div>
          <div class="p-contacts__value">
            <a href="{{ content.field_phone[0]['#url'] }}">{{ content.field_phone[0]['#title'] }}</a>
          </div>
        </div>
        <div class="p-contacts__item">
          <div class="p-contacts__label">{{ content.field_messengers_phone['#title'] }}</div>
          <div class="p-contacts__value">
            <a href="{{ content.field_messengers_phone[0]['#url'] }}">{{ content.field_messengers_phone[0]['#title'] }}</a>
          </div>
        </div>
        <div class="p-contacts__item">
          <div class="p-contacts__label">{{ content.field_email['#title'] }}</div>
          <div class="p-contacts__value">
            {{ content.field_email[0] }}
          </div>
        </div>
      </div>
      <div class="p-contacts__row p-contacts__row--social">
        <div class="p-contacts__item">
          <a class="p-contacts__social" href="{{ content.field_vimeo[0]['#url'] }}" target="_blank">{{ content.field_vimeo[0]['#title'] }}</a>
        </div>
        <div class="p-contacts__item">
          <a class="p-contacts__social" href="{{ content.field_yt[0]['#url'] }}" target="_blank">{{ content.field_yt[0]['#title'] }}</a>
        </div>
      </div>
    </address>
  </div>
  <div class="p-contacts__decorText">Eventum Premo</div>

  <video class="p-contacts__bg" src="/themes/premo/src/files/contacts-bg.mp4" playsinline autoplay muted loop></video>
</section>
