<section class="b-form b-form--project" {{ attributes }}>
  <div class="b-form__inner inner">

    {{ title_prefix }}
    {% if label %}
      <h2 class="b-form__heading blockTitle">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="b-form__form">
      {{ content.field_form[0] }}
    </div>
  </div>
</section>
