// b-clients
+b('b-clients', '', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") клиенты

    +e('list', '', 'ul')
      for i, index in Array(6)
        - const img = `./files/clients/client-0${index + 1}.png`;
        +e('item'): img(src=img alt="")
