-
  content = [
  {
    title: 'Event',
    items: [
      {
        title: 'S7 / Night Flight Show vol.2',
        logo: 's7.svg',
        img: 'project-s7.jpg',
      },
      {
        title: 'Сбербанк / Data Science Day',
        logo: 'sber.svg',
        img: 'project-sber.jpg',
      },
      {
        title: 'Acer Place / Brand Day',
        logo: 'acer.svg',
        img: 'project-acer.jpg',
      },
    ]
  },

  {
    title: 'Space',
    items: [
      {
        title: 'S7 / Night Flight Show vol.2',
        logo: 's7.svg',
        img: 'project-s7.jpg',
      },
      {
        title: 'Сбербанк / Data Science Day',
        logo: 'sber.svg',
        img: 'project-sber.jpg',
      },
      {
        title: 'Acer Place / Brand Day',
        logo: 'acer.svg',
        img: 'project-acer.jpg',
      },
    ]
  },

  {
    title: 'PR',
    items: [
      {
        title: 'S7 / Night Flight Show vol.2',
        logo: 's7.svg',
        img: 'project-s7.jpg',
      },
      {
        title: 'Сбербанк / Data Science Day',
        logo: 'sber.svg',
        img: 'project-sber.jpg',
      },
      {
        title: 'Acer Place / Brand Day',
        logo: 'acer.svg',
        img: 'project-acer.jpg',
      },
    ]
  },

  {
    title: 'Digital',
    items: [
      {
        title: 'S7 / Night Flight Show vol.2',
        logo: 's7.svg',
        img: 'project-s7.jpg',
      },
      {
        title: 'Сбербанк / Data Science Day',
        logo: 'sber.svg',
        img: 'project-sber.jpg',
      },
      {
        title: 'Acer Place / Brand Day',
        logo: 'acer.svg',
        img: 'project-acer.jpg',
      },
    ]
  },


  ]

// b-projects--services
+b('b-projects', 'services', 'section')
  +e('inner')(class="inner")

    +b('tabs', { e: 'b-projects' })(data-tabs-name="projects")
      +e('scroll', { e: 'b-projects' })
        +e('nav', { e: 'b-projects' })
          for i, index in content
            - const mod = index === 0 ? '-active' : null;
            +e('tab', { e: 'b-projects' }, 'button')(class=mod data-tab-id=index) !{i.title}
      +e('contents', { e: 'b-projects' })
        for i, index in content
          - const mod = index === 0 ? '-active' : null;
          +e('content', { e: 'b-projects' })(class=mod)
            if i.items2
              +b('projectSlider')
                +e('slides')
                  +e('slide')
                    +project-teaser(i.items)
                  +e('slide')
                    +project-teaser(i.items2)
                +e('nav')
                  +e('navInner')
                    +e('arrow', 'prev', 'button'): span.visually-hidden Предыдущий слайд
                    +e('counter')
                      +e('current', '', 'span') 1
                      +e('total', '', 'span') 5
                    +e('arrow', 'next', 'button'): span.visually-hidden Следующий слайд


            else
              +project-teaser(i.items)

