-
  const projectOther = [
  {
  title: 'Audi / Pre - Launch Audi A6',
  logo: 'audi.svg',
  img: 'project-audi.jpg',
  },
  {
  title: 'Qiwi / IT-конференция Make It Real',
  logo: 'qiwi.svg',
  img: 'project-qiwi.jpg',
  },
  ];

// project-other
+b('projectOther', '', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") Следующие проекты
    +e('list', '', 'ul')
      for i in projectOther
        +e('item')
          +project-card(i)
    +e('bg')

