// project-gallery
+b('projectGallery', '', 'section')
  include project-ticker
  //+e('inner')(class="inner")
  h2.visually-hidden Галерея

  +e('list')
    +e('row')
      for i, index in Array(3)
        - const img = `./files/case/gallery/case-0${index+1}.jpg`
        +e('item'): img(src=img alt="")

    +e('row')
      for i, index in Array(3)
        - const img = `./files/case/gallery/case-0${index+4}.jpg`
        +e('item'): img(src=img alt="")

    +e('row')
      for i, index in Array(3)
        - const img = `./files/case/gallery/case-0${index+7}.jpg`
        +e('item'): img(src=img alt="")
