// project-titer
+b('projectTiter', '', 'section')

  +e('inner')(class="inner")
    +e('image')(style="opacity: 0"): img(src="./files/case/case-main.jpg" alt="")

    +e('main')(style="opacity: 0")
      +e('company') S7 AIRLINES
      +e('title', '', 'h1') BTL - стратегия gate7 для s7 airlines на 3х летних фестивалях
      +e('tags', '', 'ul')
        +e('tag'): a(href="#0") Space
        +e('tag'): a(href="#0") Event
