// showreel--project
+b('showreel', 'project', 'section')
  +e('inner')
    +e('main')
      +e('video', '', 'video')(src="./files/showreel.mp4" preload poster="./files/case/case-video-poster.jpg")
      +e('volume', '', 'button'): span.visually-hidden Включить/выключить звук
