// text-block--project
+b('textBlock', 'project', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") О ПРОЕКТЕ
    +e('body', '', 'div')
      p Командой была разработана коммуникационная платформа GATE7, а также мобильное решение для застройки и логистики стенда в рамках фестивальных интеграций. Проект был реализован в несколько этапов, где участник всех активаций бренда получал возможность отправиться на музыкальный фестиваль в Европу.

      p На первом этапе в социальных сетях S7 Airlines был проведен онлайн-розыгрыш билетов на локальные музыкальные фестивали, а именно на VK Fest в Санкт-Петербурге, Пикник "Афиши" в Москве, Alfa Future People в Нижнем Новгороде.

      p Далее креативная платформа GATE7 транслировалась на три летних фестиваля: Пикник "Афиши", VK Fest, Alfa Future People. Интеграция включала обустройство зон с активностями, кураторство сцен, формирование лайн-апа, а также выпуск фестивальных браслетов для участников активаций бренда.
