// text-block--project
+b('textBlock', 'project', 'section')
  +e('inner')(class="inner")
    +e('body', '', 'div')
      p Основным местом притяжения бренда была мобильная контрсукция, узнаваемым элементом которой стала динамичная инсталляция в форме гейта из бегущих строк и ярких пластиковых элементов. Инсталляция была выполнена таким образом, что при небольших изменениях органично вписывалась в формат любого из фестивалей и хорошо смотрелась в дневное и ночное время.

      p Самой популярной активацией на стенде S7 Airlines стала интерактивная digital-игра Gate Runner — через нее прошло более трёх тысяч человек. Таким образом значительно усиливалась коммуникационная составляющая GATE7: игрок бежал по аэропорту до гейта, попутно собирая мили, чтобы успеть улететь на европейский музыкальный фестиваль.

      p В этом фестивальном сезоне S7 Airlines удалось также оказать влияние на визуальный стиль сцены AFP и разнообразить лайн-ап зарубежными артистами. Благодаря авиакомпании лайн-ап Alfa Future People усилили известные диджеи Netsky и What So Not.

      p Cцена BASS STAGE by S7 Airlines, на AFP успешно конкурировала с главной площадкой. Звездный состав, высококлассные свет и звук сделали ее самой привлекательной bass-сценой за всю историю фестиваля, а заслужить уважение и одобрение музыкального сообщества AFP весьма непросто.

    +e('link')(href="#0" target="_blank") статья на sostav.ru
