// text-block--project
+b('textBlock', 'project', 'section')
  +e('inner')(class="inner")
    +e('body', '', 'div')
      dl
        dt Концепт#{' '}
        dd — предложить посетителям музыкальных фестивалей ощутить пограничное состояние, когда до самого крутого путешествия в жизни остается лишь шаг.

      p Символом такого старта стал гейт, олицетворяющий предвкушение полета, заманчивые перспективы и движение вперед. GATE7 — символ, объединяющий новое поколение людей,которые путшествуют ради цели, и которые чувствуют себя частью глобального фестивального комьюнити.

