{#
/**
 * @file
 * Default theme implementation for the messages block.
 *
 * Removes wrapper elements from block so that empty block does not appear when
 * there are no messages.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @ingroup themeable
 */
#}
{{ content }}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var msg = document.querySelectorAll('[data-drupal-messages]');
    setTimeout(hideMsg, 5000);

    msg.forEach(function (i) {
      i.addEventListener('click', function (e) {
        if (e.currentTarget === i) {
          i.classList.add('-hide');
        }
      });
    });

    function hideMsg() {
      msg.forEach(function (i) {
        i.classList.add('-hide');
      })
    }
  })
</script>

