{% if breadcrumb %}
  <nav>
    <ol class="bc__list">
      {% for item in breadcrumb %}
        <li class="bc__item">
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}



