{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}

<nav class="menu">
  {{ menus.menu_links(items, attributes, 0) }}
</nav>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu__list') }}>
{#      {% set item_attributes = item_attributes.addClass('menu__item--parent') %}#}
{#      {% set link_attributes = link_attributes.addClass('menu__link--parent') %}#}
    {% else %}
      <ul class="menu__subMenu">
    {% endif %}
    {% for item in items %}

      {% set link_classes = [
        'menu__link',
        item.below ? 'menu__link--parent',
      ] %}
      {% set item_classes = [
        'menu__item',
        item.below ? 'menu__item--parent',
      ] %}

      <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url, {'class': link_classes}) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{#

        <ul class="menu__list">
          <li class="menu__item menu__item--parent">
            <a class="menu__link menu__link--parent" href="#0">Услуги</a>
            <ul class="menu__subMenu">
              <li class="menu__item">
                <a class="menu__link" href="#0">Event</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#0">Space</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#0">PR</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#0">Digital</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#0">Компания</a>
          </li>
        </ul>
#}
