{#<article{{ attributes.addClass('basePage') }}>

  {{ title_prefix }}
  {{ title_suffix }}


  <div{{ content_attributes.addClass(['basePage__inner', 'inner']) }}>
    <h1{{ title_attributes.addClass(['basePage__title', 'pageTitle']) }}>{{ label }}</h1>
    <div class="basePage__body">
      {{ content.body[0] }}
    </div>
  </div>

</article>#}

<article{{ attributes.addClass(['p-article', 'p-article--basic']) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  <header class="p-article__header">
    <h1 class="p-article__heading">{{ label }}</h1>
  </header>

  <div class="p-article__body">
    {{ content.body }}
  </div>

</article>
