@mixin media($break-point) {
  @if $break-point == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), /* для Safari, Safari IOS */
    only screen and (min-resolution: 192dpi), /* для IE 10, IE 11, Opera Mini */
    only screen and (min-resolution: 2dppx) {
      @content;
    }
  }
  @if $break-point == md {
    @media screen and (min-width: ($md+100px)) {
      @content;
    }
  }

  @if $break-point == msd {
    @media screen and (max-width: ($md+99)) {
      @content;
    }
  }
  @if $break-point == msd-2 {
    @media screen and (max-width: ($msd-2 + -1)) {
      @content;
    }
  }

  @if $break-point == mtl {
    @media screen and (max-width: (1170px + 99)) {
      @content;
    }
  }
  @if $break-point == mtl-only {
    @media screen and (max-width: (1170px + 99)) and (min-width: $mtl) {
      @content;
    }
  }
  @if $break-point == mtp {
    @media screen and (max-width: ($mtl+-1)) {
      @content;
    }
  }
  @if $break-point == mtp-only {
    @media screen and (max-width: ($mtl+-1px)) and (min-width: $mtp) {
      @content;
    }
  }
  @if $break-point == msl {
    @media screen and (max-width: ($mtp+-1px)) {
      @content;
    }
  }
  @if $break-point == msl-only {
    @media screen and (max-width: ($mtp+-1px)) and (min-width: $msl) {
      @content;
    }
  }
  @if $break-point == msp {
    @media screen and (max-width: ($msl+-1px)) {
      @content;
    }
  }
}

@mixin grid {
  box-sizing: border-box;
  max-width: $md;
  margin-right: auto;
  margin-left: auto;

  @include media(msd) {
    max-width: 1170px;
  }
  @include media(mtl) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@mixin disable-grid {
  max-width: unset;

  @include media(mtl) {
    padding-right: initial;
    padding-left: initial;
  }
  @include media(msl) {
    padding-right: initial;
    padding-left: initial;
  }
}

@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin usual-list($offset: true) {
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0;
    list-style-type: none;

    @if ($offset == false) {
      margin-left: -20px;
    }

    > li {
      position: relative;
      margin-bottom: 0.8em;
      padding-left: 20px;

      &::before {
        content: '';
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $color-accent;
      }
    }

    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
}

@mixin visually-hidden-reset {
  position: static !important;
  clip: auto !important;
  width: auto !important;
  height: auto !important;
}

@mixin uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@mixin btn-reset {
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;

  appearance: none;
}

@mixin text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.34;

  @include media(msp) {
    font-size: 16px;
  }
}

@mixin text-page {
  @include text;

  h2 {
    margin-top: 3.2em;
    margin-bottom: 0.9em;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;

    @include media(msp) {
      font-size: 20px;
    }
  }

  h3 {
    margin-top: 1.3em;
    margin-bottom: 0.8em;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;

    @include media(msp) {
      font-size: 16px;
    }
  }

  > img {
    width: auto;
    max-width: 100%;
    margin: 2.5em auto;

    @include media(msp) {
      max-width: calc(100% + 36px);
      margin-right: -18px;
      margin-left: -18px;
    }
  }

  > ul {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    padding-left: 1.9em;
    list-style-type: none;

    @include media(msp) {
      margin-top: 1.3em;
    }

    li {
      position: relative;

      &:nth-child(n + 2) {
        margin-top: 0.66em;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0.6em;
        left: -15px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $color-text;
      }
    }
  }
}

@mixin no-scroll-bar {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin ob-fit {
  font-family: 'object-fit: cover; object-position: bottom;';

  object-fit: cover;
  object-position: center;
}

@mixin ob-fit-contain {
  font-family: 'object-fit: contain; object-position: bottom;';

  object-fit: contain;
  object-position: center;
}

@mixin link {
  position: relative;
  z-index: 2;
  padding-left: 74px;
  transition-duration: 0.5s;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: lowercase;

  @include media(msl) {
    padding-bottom: 3px;
    padding-left: 57px;
    font-size: 16px;
  }
  @include media(msp) {
    padding-bottom: 2px;
    padding-left: 49px;
  }

  &:hover {
    padding-left: 110px;

    &::before {
      background-position-x: calc(50% + 20px);
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 92px;
    height: 92px;
    transition-duration: 0.5s;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba($color-style, 0.1);
    background-image: $i-arrow;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;

    @include media(msl) {
      width: 72px;
      height: 72px;
      background-size: 19px;
    }
    @include media(msp) {
      width: 60px;
      height: 60px;
      background-size: 17px;
    }
  }

  @content;
}

@mixin projects-block-anim {
  display: block;
  transition-duration: 1s;
  opacity: 0;

  .projectTeaser__item {
    &:nth-child(2n - 1) .projectCard {
      transform: translateY(-80px);
    }

    &:nth-child(2n - 2) .projectCard {
      transform: translateY(40px);
    }

    &:nth-child(1n) .projectCard {
      @include media(msp) {
        transform: translateY(0);
      }
    }
  }

  .projectCard {
    transition-duration: 1s;
  }

  &.-active {
    transition-delay: 1s;
    opacity: 1;

    .projectCard {
      transition-delay: 1s;
    }

    .projectTeaser__item .projectCard {
      transform: translateY(0);
    }
  }
}

@mixin projects-block-anim-slider {
  display: block;
  transition-duration: 0.5s;
  opacity: 0;

  .projectTeaser__item {
    &:nth-child(2n - 1) .projectCard {
      transform: translateY(-80px) !important;
    }

    &:nth-child(2n - 2) .projectCard {
      transform: translateY(40px) !important;
    }

    &:nth-child(1n) .projectCard {
      @include media(msp) {
        transform: translateY(0) !important;
      }
    }
  }

  .projectCard {
    transition-delay: 0s !important;
    transition-duration: 0.5s;
  }

  &.tns-slide-active {
    transition-delay: 0.5s;
    opacity: 1;

    .projectCard {
      transition-delay: 0.5s !important;
    }

    .projectTeaser__item .projectCard {
      transform: translateY(0) !important;
    }
  }
}

@mixin logo-bg {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -33px;
    left: calc(-8vw - 53px);
    width: 7.15em;
    height: 5.47em;
    pointer-events: none;
    background-image: url(../images/ep-symbol-empty.svg),
    url(../images/ep-symbol-empty.svg),
    url(../images/ep-symbol-empty.svg),
    url(../images/ep-symbol-empty.svg);
    background-repeat: no-repeat;
    background-position-x: 0, 0.63em, 1.19em, 1.74em;
    background-position-y: center;
    background-size: auto 100%;
    font-size: 100px;

    @include media(msd) {
      top: -83px;
    }
    @include media(mtl) {
      font-size: 80px;
    }
    @include media(mtp) {
      font-size: 70px;
    }
    @include media(msp) {
      font-size: 50px;
    }

    @content;
  }
}

@mixin award-label {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;

  @include media(mtl) {
    font-size: 30px;
  }
  @include media(mtp) {
    font-size: 24px;
  }

  &::before {
    content: '';
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 18px;
    border-radius: 50%;

    @include media(mtp) {
      width: 35px;
      height: 35px;
    }
  }

  &--gold::before {
    background-color: $color-gold;
  }

  &--silver::before {
    background-color: $color-silver;
  }

  &--bronze::before {
    background-color: $color-bronze;
  }

  &--shortlist::before {
    box-sizing: border-box;
    border: 1px solid rgba(5, 7, 38, 0.5);
    background-color: #fff;
  }
}

@mixin article-body {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;

  @include media(msp) {
    font-size: 14px;
  }

  h2 {
    margin-top: 1.8em;
    margin-bottom: 0.64em;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;

    @include media(msl) {
      font-size: 28px;
    }
    @include media(mtp) {
      font-size: 34px;
    }
    @include media(msp) {
      font-size: 22px;
    }
  }

  p {
    margin-bottom: 1.9em;
  }

  ol {
    @include list-reset;

    counter-reset: i;

    li {
      position: relative;
      margin-bottom: 30px;
      padding-left: 19px;
      counter-increment: i;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: counter(i);
        position: absolute;
        top: 0;
        left: 0;
        color: $color-style;
        font-weight: 700;
      }
    }
  }
}

.visually-hidden {
  position: absolute !important;
  left: -100%;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px !important;
  height: 1px !important;
  margin: 0;
  padding: 0;
}
