@lost flexbox flex;

//$mb-resp: 2.463328vw;

$md: 1520px;
//$msd: 1280px;
//$msd-2: 1440px;
//$msd-3: 1200px;
$mtl: 980px;
$mtp: 768px;
$msl: 480px;
$msp: 320px;

$narrow-content: 854px;


$font-text: 'Avenir Next Cyr', sans-serif;
$font-title: $font-text;


$color-style: #a9103d;

$color-bg: #fff;

$color-text: #050726;
$color-title: $color-text;
$color-link: $color-style;
$color-button: $color-style;

$color-gold: #fffdd1;
$color-silver: #f5f5f5;
$color-bronze: #fff8ee;



$i-arrow--white: url("data:image/svg+xml,%3Csvg width='27' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.517 5.795H24.13M20.526 10.117l4.285-4.285-4.285-4.285' stroke='%23fff' stroke-width='1.914'/%3E%3C/svg%3E");
$i-arrow: url("data:image/svg+xml,%3Csvg width='27' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.517 5.795H24.13M20.526 10.117l4.285-4.285-4.285-4.285' stroke='%23a9103d' stroke-width='1.914'/%3E%3C/svg%3E");
$i-blog-more: url("data:image/svg+xml,%3Csvg width='23' height='43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l20.5 20.5L1 42' stroke='%23050726'/%3E%3C/svg%3E");
$i-views: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.873 9.611c-.179-.244-4.436-5.985-9.873-5.985-5.437 0-9.695 5.74-9.873 5.985a.66.66 0 0 0 0 .778c.178.244 4.436 5.985 9.873 5.985 5.437 0 9.694-5.74 9.873-5.985a.66.66 0 0 0 0-.778zM10 15.055c-4.005 0-7.474-3.81-8.5-5.055C2.524 8.753 5.985 4.945 10 4.945c4.005 0 7.473 3.81 8.5 5.055-1.025 1.247-4.486 5.055-8.5 5.055z' fill='%23A9103D'/%3E%3Cpath d='M10 6.044A3.96 3.96 0 0 0 6.044 10 3.96 3.96 0 0 0 10 13.956 3.96 3.96 0 0 0 13.956 10 3.96 3.96 0 0 0 10 6.044zm0 6.593A2.64 2.64 0 0 1 7.363 10 2.64 2.64 0 0 1 10 7.363 2.64 2.64 0 0 1 12.637 10 2.64 2.64 0 0 1 10 12.637z' fill='%23A9103D'/%3E%3C/svg%3E");
$i-clap: url("data:image/svg+xml,%3Csvg width='25' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.202 1.977a.99.99 0 0 0-1.4 0l-.005.004-7.835 7.657a.478.478 0 0 1-.668-.683L15 3.376a.99.99 0 0 0-1.402-1.399l-.004.004-8.695 8.517a.478.478 0 0 1-.668-.683l2.533-2.482a.476.476 0 0 1 .134-.2L6.9 7.13a2.29 2.29 0 0 0 .07-.066 5.774 5.774 0 0 0 .776-.921c.408-.614.562-1.174.324-1.578-.343-.581-.6-.611-.726-.6-.205.018-.45.174-.733.424L3.15 7.827a7.079 7.079 0 0 0 10.01 10.01l.006-.004 6.611-6.43A.99.99 0 0 0 18.378 10l-4.008 4.212a.478.478 0 1 1-.693-.659l4.014-4.217.004-.004 2.076-2.128.004-.004a.99.99 0 0 0-1.4-1.4l-6.21 6.278a.478.478 0 0 1-.679-.672l6.2-6.269 1.492-1.733a.99.99 0 0 0 .024-1.427zm.22 2.608a1.946 1.946 0 0 1 1.031 3.289l-.917.939a1.946 1.946 0 0 1 .915 3.267l-.005.005-6.612 6.43A8.034 8.034 0 0 1 2.474 7.152h.001L5.947 3.7a.478.478 0 0 1 .02-.017c.285-.254.742-.623 1.293-.671.632-.056 1.187.31 1.633 1.066.18.305.25.619.248.926L12.923 1.3a1.946 1.946 0 0 1 3.265.916l.94-.917A1.946 1.946 0 0 1 19.89 4.04l-.469.545z' fill='%23A9103D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.588 6.57l-3.05 2.246a.478.478 0 1 1-.567-.77l3.076-2.264a.47.47 0 0 1 .048-.03 1.946 1.946 0 0 1 1.934 3.377l-.598.4a1.946 1.946 0 0 1 .115 3.445l-1.134.66a1.946 1.946 0 0 1 .01 3.393l-.006.002-8.09 4.433a8.037 8.037 0 0 1-9.844-1.527.478.478 0 1 1 .7-.65 7.082 7.082 0 0 0 8.677 1.343l.005-.003 8.09-4.432a.99.99 0 0 0-.974-1.725l-4.988 2.99a.478.478 0 0 1-.492-.82l4.994-2.993.005-.003 2.57-1.496.005-.003a.99.99 0 0 0-.975-1.725l-1.365.783a.478.478 0 1 1-.475-.83l1.351-.774 1.901-1.272a.99.99 0 0 0-.923-1.755z' fill='%23A9103D'/%3E%3C/svg%3E%0A");
$i-marker: url("data:image/svg+xml,%3Csvg width='26' height='35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13 34.29S26 20.18 26 13 20.18 0 13 0 0 5.82 0 13s13 21.29 13 21.29zm0-16.203a5.087 5.087 0 1 0 0-10.174 5.087 5.087 0 0 0 0 10.174z'/%3E%3C/mask%3E%3Cpath d='M13 34.29l-1.47 1.355L13 37.241l1.47-1.596L13 34.29zM24 13c0 1.29-.618 3.16-1.804 5.43-1.153 2.207-2.713 4.553-4.308 6.723a101.867 101.867 0 0 1-6.224 7.634l-.103.113-.025.027-.006.007h-.001L13 34.29l1.471 1.355.001-.001.003-.003.008-.01a6.521 6.521 0 0 0 .145-.159 102.257 102.257 0 0 0 1.928-2.205 105.83 105.83 0 0 0 4.556-5.746c1.655-2.254 3.345-4.782 4.63-7.24C26.991 17.888 28 15.3 28 13h-4zM13 2c6.075 0 11 4.925 11 11h4c0-8.284-6.716-15-15-15v4zM2 13C2 6.925 6.925 2 13 2v-4C4.716-2-2 4.716-2 13h4zm11 21.29l1.471-1.355-.001-.001-.006-.007-.025-.027-.103-.113-.4-.446c-.347-.39-.844-.958-1.443-1.663a101.858 101.858 0 0 1-4.381-5.525c-1.595-2.17-3.155-4.516-4.308-6.724C2.618 16.16 2 14.29 2 13h-4c0 2.3 1.007 4.887 2.259 7.282 1.284 2.457 2.974 4.985 4.63 7.24a105.832 105.832 0 0 0 6.628 8.11l.008.009.003.003s.001.001 1.472-1.354zM16.087 13A3.087 3.087 0 0 1 13 16.087v4A7.087 7.087 0 0 0 20.087 13h-4zM13 9.913A3.087 3.087 0 0 1 16.087 13h4A7.087 7.087 0 0 0 13 5.913v4zM9.913 13A3.087 3.087 0 0 1 13 9.913v-4A7.087 7.087 0 0 0 5.913 13h4zM13 16.087A3.087 3.087 0 0 1 9.913 13h-4A7.087 7.087 0 0 0 13 20.087v-4z' fill='%23A9103D' mask='url(%23a)'/%3E%3C/svg%3E");
$i-faq-arrow: url("data:image/svg+xml,%3Csvg width='19' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l8.5 8L18 1' stroke='%23A9103D' stroke-width='2'/%3E%3C/svg%3E");
