{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}

{% if element['#type'] is same as('submit') %}
  <button{{ attributes.addClass(['button', 'form__button']) }}>{{ element['#value'] }}</button>
{% else %}
  {% set classes = [
    'form__field',
    element['#type'] is same as('checkbox') ? 'form__field--cb',
  ] %}
  <input{{ attributes.addClass(classes) }} />
{% endif %}
