.footer {
  position: relative;
  overflow: hidden;
  padding-top: 115px;
  padding-bottom: 130px;
  color: #fff;
  background-color: #232323;
  background-image: url(../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media(mtp) {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  @include media(msp) {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

.footer__inner {
  position: relative;
  z-index: 1;
}

.footer__row {
  display: flex;
  justify-content: space-between;

  &:first-child {
    margin-bottom: 70px;

    @include media(mtp) {
      display: block;
    }
  }
}

.footer__col {
  &--socials {
    width: 258px;

    @include media(mtp) {
      width: 530px;
      margin-top: 70px;
    }
    @include media(msl) {
      max-width: 100%;
    }
  }
}

.footer__logos {
  display: flex;
  margin-bottom: 27px;
}

.footer__logo {
  margin-right: 49px;

  &:last-child {
    margin-top: 8px;
    margin-right: 0;
    margin-left: -5px;
  }
}

.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media(msp) {
    display: block;
  }
}

.footer__contact {
  margin-right: 70px;

  @include media(mtp) {
    margin-bottom: 30px;
  }
  @include media(msp) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__copyright {
  font-size: 12px;
  font-weight: 650;
  line-height: 1;
}

.footer__policy {
  display: block;
  color: inherit;
  font-size: 12px;
  font-weight: 650;
  line-height: 1;
}

.footer__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
