.header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: 79px;
  padding-bottom: 79px;
  background-color: rgba(255, 255, 255, 0);

  @include media(msd) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include media(mtp) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @include media(msl) {
  }

  @at-root .page--blackHeader & {
    &__logo {
      svg {
        fill: #000;
      }
    }
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 79px;
  padding-left: 55px;

  @include media(msd) {
    box-sizing: border-box;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
  @include media(mtl) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.header__logo {
  @include media(mtl) {
    width: 120px;
  }
  @include media(msl) {
    width: 90px;
  }

  svg {
    display: block;
    max-width: 100%;
    height: auto;
    transition-duration: 0.3s;

    fill: #fff;

    @at-root .header--animate & {
      fill: #000;
    }
  }
}

.header__menu {
}
