.page {
  position: relative;
  overflow-x: hidden;

  &::after {
    //content: '';
    position: absolute;
    z-index: 9999;
    top: -14px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    pointer-events: none;
    opacity: 0.3;
    background-image: url(../images/pp/10_faq.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto;
  }

  &--front {
  }

  &--dev {
    &::after {
      content: none;
    }
  }

  &--sidebar {
    .page__row {
      @include grid;

      display: flex;
      justify-content: space-between;

      @include media(mtp) {
        display: block;
        box-sizing: border-box;
        width: 100%;
      }
    }

    .page__main {
      width: 66%;
      margin-right: 100px;

      @include media(msd) {
        width: calc(100% - 460px);
      }
      @include media(mtl) {
        width: calc(100% - 400px);
        margin-right: 0;
      }
      @include media(mtp) {
        width: auto;
      }
    }

    .page__sidebar {
      flex-shrink: 0;
      width: 357px;

      @include media(mtl) {
        width: 300px;
      }
      @include media(mtp) {
        width: auto;
      }
    }
  }

  &--blogListing {
    .page__layout {
      position: relative;
      overflow-y: hidden;

      &::before {
        content: 'EXPERIENCE IS THE NEW LUXURY / RENDER TO REATLITY / ONLINE TO OFFLINE / EVENTUM PREMO / CREATIVE / BRANDED SPACE / POP-UP';
        position: absolute;
        z-index: 3;
        top: -360px;
        left: -40px;
        transform: rotate(-90deg) translateX(calc(-100% + 30px));
        transform-origin: 200px 100%;
        white-space: nowrap;
        pointer-events: none;
        color: transparent;
        font-size: 190px;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        -webkit-text-stroke: 2px #000;

        @include media(mtp) {
          opacity: 0.1;
        }
      }
    }
  }
}

.page__layout {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 221px;

  @include media(mtl) {
    padding-top: 120px;
  }
  @include media(msl) {
    padding-top: 70px;
  }

  @at-root .page--front &,
  .page--service &,
  .page--contacts & {
    padding-top: 0;
  }

  @at-root .page--blog & {
    position: relative;
    overflow-y: hidden;

    &::before {
      content: 'E V E N T U M P R E M O';
      position: absolute;
      top: 40px;
      right: -100px;
      width: 310px;
      text-align: center;
      pointer-events: none;
      opacity: 1;
      color: transparent;
      font-size: 200px;
      font-weight: 900;
      line-height: 1.5;
      text-transform: uppercase;
      letter-spacing: 0.01em;
      -webkit-text-stroke: 2px #000;

      @include media(msl) {
        display: none;
      }
    }
  }
}

.page__main {
  @at-root .page--blogListing & {
    position: relative;
    z-index: 4;
  }
}

.page__row {
  @at-root .page--blog & {
    position: relative;
    z-index: 3;
  }
}

.page__sidebar {
  margin-top: 8px;
}
