-
  const team = [
  {
    img: 'alex-shumovich.jpg',
    name: 'Александр Шумович',
    post: 'Партнёр',
  },
  {
    img: 'alexey-berlov.jpg',
    name: 'Алексей Берлов',
    post: 'Партнёр',
  },
  {
    img: 'polina-tolkacheva.jpg',
    name: 'Полина Толкачева',
    post: 'Партнёр',
  },
  {
    img: 'helen-cheh.jpg',
    name: 'Елена Чех',
    post: 'Партнёр',
  },
  {
    img: 'denis-komissarov.jpg',
    name: 'Денис Комиссаров',
    post: 'Руководитель PR и Digital отдела',
  },
  {
    img: 'roman-bokov.jpg',
    name: 'Роман Боков',
    post: 'Креативный директор',
  },
  {
    img: 'veronika-durmanova.jpg',
    name: 'Вероника Дурманова',
    post: 'HR-директор',
  },
  {
    img: 'alina-hairetdinova.jpg',
    name: 'Хайретдинова Алина',
    post: 'Руководитель рабочей группы',
  },
  {
    img: 'maria-klimova.jpg',
    name: 'Мария Климова',
    post: 'Руководитель рабочей группы по работе с автомобильными брендами',
  },
  {
    img: 'alena-ponamareva.jpg',
    name: 'Алёна Пономарева',
    post: 'Руководитель рабочей группы',
  },
  {
    img: 'ekaterina-streltsova.jpg',
    name: 'Екатерина Стрельцова',
    post: 'Руководитель рабочей группы',
  },
  {
    img: 'anna-matyashina.jpg',
    name: 'Анна Матяшина',
    post: 'Директор по развитию бизнеса',
  },
  ];

// b-team
+b('b-team', '', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") Команда

    +e('list', '', 'ul')
      for i in team
        +e('item')
          - const img = `./files/team/${i.img}`
          +e('image', '', 'div'): img(src=img alt="")
          +e('name', '', 'div') !{i.name}
          +e('post', '', 'div') !{i.post}
