<section{{ attributes.addClass('b-projects') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="b-projects__inner inner">
    {% if label %}
      <h2 class="b-projects__heading blockTitle">{{ label }}</h2>
    {% endif %}

    {% block content %}
      {{ content }}
    {% endblock %}

  </div>
</section>
