<div{{ attributes.addClass('projectGallery__list') }}>
  {% for row in rows %}
    <div class="projectGallery__row">
      {% for item in row %}
        <div{{ item.attributes.addClass('projectGallery__item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
