<article{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% set client = content.field_client[0] %}

  <section class="projectTiter">
    <div class="projectTiter__inner inner">
      <div class="projectTiter__image">
        {{ content.field_image[0] }}
      </div>
      <div class="projectTiter__main">
        <div class="projectTiter__company">{{ client }}</div>
        <h1 class="projectTiter__title">{{ label }}</h1>

        {{ content.field_services }}

      </div>
    </div>
  </section>

  {% if content.body|render %}
    <section class="textBlock textBlock--project">
      <div class="textBlock__inner inner">
        <h2 class="textBlock__heading blockTitle">{{ 'О проекте'|t }}</h2>
        <div class="textBlock__body">
          {{ content.body[0] }}
        </div>
      </div>
    </section>
  {% endif %}


  {% if remote_video|render %}
    {{ remote_video }}
  {% endif %}
  {#    {% set vimeo_id = node.field_media_vimeo.value|split('vimeo.com/')[1] %}#}
  {#<section class="showreel showreel--project">
    <div class="showreel__inner">
      <div class="showreel__main">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{ vimeo_id }}?autoplay=0&loop=0&title=0&byline=0&sidedock=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    </div>
  </section>#}


  {% if content.field_body2|render %}
    <section class="textBlock textBlock--project">
      <div class="textBlock__inner inner">
        <div class="textBlock__body">
          {{ content.field_body2[0] }}
        </div>
      </div>
    </section>
  {% endif %}


  {% if content.field_multimedia|render %}
    <section class="projectGallery">
      <div class="ticker ticker--project projectGallery__ticker">
        <div class="ticker__inner">{{ client }} {{ client }} {{ client }} {{ client }}</div>
      </div>
      <h2 class="visually-hidden">{{ 'Галерея'|t }}</h2>

      {{ content.field_multimedia }}

    </section>
  {% endif %}


  {% if content.field_body3|render %}
    <section class="textBlock textBlock--project">
      <div class="textBlock__inner inner">
        <div class="textBlock__body">
          {{ content.field_body3[0] }}
        </div>

        {% if content.field_link|render %}
          <a class="textBlock__link" href="{{ content.field_link[0]['#url'] }}"
             target="_blank">{{ content.field_link[0]['#title'] }}</a>
        {% endif %}

      </div>
    </section>
  {% endif %}


  {#<section class="b-awardsCase">
    <div class="b-awardsCase__inner inner">
      <h2 class="b-awardsCase__heading blockTitle">{{ 'Награды'|t }}</h2>
      <ul class="b-awardsCase__list">
        <li class="b-awardsCase__item">
          <h3 class="b-awardsCase__label b-awardsCase__label--gold">Золото</h3><span class="b-awardsCase__logo"><img
              src="./files/awards/big-fish.png" alt=""></span><span
            class="b-awardsCase__awardName">Лучший BTL проект</span>
        </li>
        <li class="b-awardsCase__item">
          <h3 class="b-awardsCase__label b-awardsCase__label--silver">Серебро</h3><span class="b-awardsCase__logo"><img
              src="./files/awards/big-fish.png" alt=""></span><span class="b-awardsCase__awardName">Лучшая спонсорская интеграция</span>
        </li>
      </ul>
    </div>
  </section>#}


  <section class="projectOther">
    <div class="projectOther__inner inner">
      <h2 class="projectOther__heading blockTitle">{{ 'Следующие проекты'|t }}</h2>

      {% set prev_nid = content.prevnext_previous['#nid'] %}
      {% set next_nid = content.prevnext_next['#nid'] %}
      <ul class="projectOther__list">

        {% if prev_nid is not empty %}
          <li class="projectOther__item">
            {{ drupal_entity('node', prev_nid, 'teaser') }}
          </li>
        {% endif %}

        {% if next_nid is not empty %}
          <li class="projectOther__item">
            {{ drupal_entity('node', next_nid, 'teaser') }}
          </li>
        {% endif %}
      </ul>

      <div class="projectOther__bg"></div>
    </div>
  </section>
</article>
