<article class="projectCard">
  <a class="projectCard__link" href="{{ url }}">
    <div class="projectCard__img">
      {{ content.field_image[0] }}
    </div>
    <div class="projectCard__cnt">
      <div class="projectCard__logo">{{ content.field_client[0] }}</div>
      <div class="projectCard__bottom">
        <h3 class="projectCard__title">{{ label }}</h3>
        <div class="projectCard__more">{{ 'Подробнее'|t }}</div>
      </div>
    </div>
  </a>

  {% if content.links %}
    {{ content.link }}
  {% endif %}
</article>

