{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}


  <div class="tabs b-projects__tabs" data-tabs-name="projects">
    <div class="tabs__scroll b-projects__scroll">
      <div class="tabs__nav b-projects__nav">
        <button class="tabs__tab b-projects__tab -active">{{ 'Все'|t }}</button>

        <button class="tabs__tab b-projects__tab">{{ 'Event'|t }}</button>
        <button class="tabs__tab b-projects__tab">{{ 'Space'|t }}</button>
        <button class="tabs__tab b-projects__tab">{{ 'PR'|t }}</button>
        <button class="tabs__tab b-projects__tab">{{ 'Digital'|t }}</button>

{#        {% for title in rows_titles %}#}
{#          <button class="tabs__tab b-projects__tab">{{ title }}</button>#}
{#        {% endfor %}#}
      </div>
    </div>



    <div class="tabs__contents b-projects__contents">

      <div class="tabs__content b-projects__content">
        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
{#        {{ drupal_view('projects', 'projects_all') }}#}
      </div>
      <div class="tabs__content b-projects__content">
        {{ drupal_view('projects', 'events') }}
      </div>
      <div class="tabs__content b-projects__content">
        {{ drupal_view('projects', 'space') }}
      </div>
      <div class="tabs__content b-projects__content">
        {{ drupal_view('projects', 'pr') }}
      </div>
      <div class="tabs__content b-projects__content">
        {{ drupal_view('projects', 'digital') }}
      </div>

    </div>

    </div>
  </div>


  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
