<div class="projectSlider">

  <div class="projectSlider__slides">
    {% for slide in slides %}
      <div class="projectSlider__slide">
        <section class="projectTeaser">
          <ul class="projectTeaser__list">
            {% for row in slide %}
              <li class="projectTeaser__item">{{- row.content -}}</li>
            {% endfor %}
          </ul>
        </section>
      </div>
    {% endfor %}
  </div>


  <div class="projectSlider__nav">
    <div class="projectSlider__navInner">
      <button class="projectSlider__arrow projectSlider__arrow--prev"><span class="visually-hidden">Предыдущий слайд</span>
      </button>
      <div class="projectSlider__counter"><span class="projectSlider__current">1</span><span class="projectSlider__total">5</span>
      </div>
      <button class="projectSlider__arrow projectSlider__arrow--next"><span class="visually-hidden">Следующий слайд</span>
      </button>
    </div>
  </div>
</div>
