<section{{ attributes.addClass('showreel') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="showreel__inner">
    {% if label %}
      <h2 class="showreel__heading blockTitle" {{ title_attributes }}>{{ label }}</h2>
    {% endif %}

    <div class="showreel__main">
      <video class="showreel__video" src="{{ content.field_video[0] }}" preload="none" poster="{{ content.field_image[0] }}" playsinline autoplay muted loop></video>
      <button class="showreel__volume"><span class="visually-hidden">Включить/выключить звук</span>
      </button>
    </div>

    {{ content|without('field_video', 'field_image') }}
  </div>
</section>
