// b-form--project.pug
+b('b-form', 'project', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") Давайте сделаем проект вместе
    +e('form')
      include form--project
