// form--project
+b('form', 'project', 'form')

  +e('item', '', 'label')
    //+e('label') ФИО
    +e('field', '', 'input')(type="text" name="name" required placeholder="ФИО")

  +e('item', '', 'label')
    //+e('label') Должность
    +e('field', '', 'input')(type="text" name="post" required placeholder="Должность")

  +e('item', '', 'label')
    //+e('label') Компания
    +e('field', '', 'input')(type="text" name="company" required placeholder="Компания")

  +e('item', '', 'label')
    //+e('label') Телефон
    +e('field', '', 'input')(type="tel" name="phone" required placeholder="Телефон")

  +e('item', '', 'label')
    //+e('label') E-mail
    +e('field', '', 'input')(type="email" name="email" required placeholder="E-mail")

  +e('item', '', 'label')
    //+e('label') Расскажите о задаче
    +e('field', 'ta', 'textarea')(name="msg" required placeholder="Расскажите о задаче")

  +e('footer')
    +e('item', 'cb', 'label')
      +e('field', 'cb', 'input')(type="checkbox" name="fz152" required)
      +e('label') Я даю согласие на <a href="#0">обработку моих персональных данных</a>
    +b('button', { e: '&' }, 'button')(type="submit") Отправить
