// form--subscribe
+b('form', 'inline.subscribe', 'form')

  +e('item', '', 'label')
    span.visually-hidden Ваш e-mail
    +e('field', '', 'input')(type="email" name="email" required placeholder="Ваш e-mail")

  +e('actions')
    +b('button', { e: '&' }, 'button')(type="submit") Подписаться
