// form
+b('form', '', 'form')

  +e('item', '', 'label')
    +e('label') E-mail
    +e('field', '', 'input')(type="email" name="email" required)

  +e('actions')
    +b('button', { e: '&' }, 'button')(type="submit") Отправить
