<section{{ attributes.addClass('menuModal') }}>

  <header class="menuModal__header">
    <h2 class="visually-hidden">{{ 'Меню'|t }}</h2>
    <a class="menuModal__logo" href="/">
      <img src="/themes/premo/build/files/logo-black.svg" alt="{{ 'Логотип Eventum Premo'|t }}">
    </a>
    <button class="menuModal__closer">
      <span class="visually-hidden">{{ 'Закрыть меню'|t }}</span>
    </button>
  </header>

  <div class="menuModal__main">
    {{ title_prefix }}
    {{ title_suffix }}

    <div class="menuModal__menu">

      {{ drupal_menu('main') }}

    </div>

  </div>

  <div class="menuModal__lang">
    <section class="lang">
      <h3 class="visually-hidden">{{ 'Выбор языка'|t }}</h3>
      <a class="lang__item lang__item--active" href="#0">RU</a>
      <a class="lang__item" href="#0">EN</a>
    </section>
  </div>
</section>
