-
  content = [
  {
    title: 'Event',
    img: './files/services/event.mp4',
    body: '<ul>' +
    '<li>Организация мероприятий</li>' +
    '<li>Продуктовый лонч</li>' +
    '<li>Бизнес-события и форумы</li>' +
    '<li>Автомобильные мероприятия</li>' +
    '<li>Стратегическое планирование</li>' +
    '</ul>',
  },
  {
    title: 'Space',
    img: './files/services/space.mp4',
    body: '<ul>' +
    '<li>Спонсорские интеграции бренда</li>' +
    '<li>Временные инсталляции</li>' +
    '<li>Pop-up проекты</li>' +
    '<li>Комплексное конструирование стендов</li>' +
    '<li>Застройка и декорирование</li>' +
    '<li>Art-объекты</li>' +
    '</ul>'
  },
  {
    title: 'PR',
    img: './files/services/pr.mp4',
    body: '<ul>' +
    '<li>Репутационный менеджмент</li>' +
    '<li>Маркетинговая коммуникация</li>' +
    '<li>Корпоративная коммуникация</li>' +
    '</ul>'
  },
  {
    title: 'Digital',
    img: './files/services/digital.mp4',
    body: '<ul>' +
    '<li>Креатив</li>' +
    '<li>Спец. проекты</li>' +
    '<li>Промо и таргетинг</li>' +
    '<li>Influence маркетинг</li>' +
    '<li>SMM</li>' +
    '</ul>'
  },
  ];



// b-services
+b('b-services', '', 'section')
  +e('decorText')(data-text="Event Event Event Event") Event Event Event Event
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") Услуги

    +b('tabs', {e: 'b-services'})(data-tabs-name="services")
      +e('scroll', {e: 'b-services'})
        +e('nav', {e: 'b-services'})
          for i, index in content
            - const mod = index === 0 ? '-active' : null;
            +e('tab', {e: 'b-services'}, 'button')(class=mod) !{i.title}
      +e('contents', {e: 'b-services'})
        for i, index in content
          - const mod = index === 0 ? '-active' : null;
          +e('content', {e: 'b-services'})(class=mod)
            +services-teaser(i.title, i.img, i.body)
