// showreel-service
+b('showreel', 'service', 'section')
  +e('inner')
    +e('heading', '', 'h2')(class="blockTitle") Event
    +e('main')
      +e('video', '', 'video')(src="http://premo-19.localhost/sites/default/files/service/showreel.mp4" preload poster="./files/services-event.jpg" autoplay muted loop)
      +e('volume', '', 'button'): span.visually-hidden Включить/выключить звук
