// text-block--service
+b('textBlock', 'service', 'section')
  +e('inner')(class="inner")
    +e('body')
      p Мы организуем корпоративные мероприятия, лончи и конференции, пресс-туры, тест-драйвы, <span class="nowrap">бизнес-мероприятия</span> и выездные мероприятия (MICE).
