body {
  color: $color-text;
  background-color: $color-bg;
  font-family: $font-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: inline-block;
  color: $color-link;

  &:hover {
    text-decoration: none;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: $color-title;
  font-family: $font-title;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.pageTitle {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.3;

  @include media(msp) {
    font-size: 25px;
  }
}

p, dl {
  margin-top: 0;
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }
}

.inner {
  @include grid;
}

.blockTitle {
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.125em;

  @include media(msl) {
    font-size: 32px;
  }

  @at-root .page__sidebar & {
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
  }
}

.anchor {
  position: relative;
  top: -80px;
}

.noScroll {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}

.kint {
  position: absolute;
  z-index: 99;
}
