// menuModal
+b('menuModal', '', 'section')
  +e('header', '', 'header')
    +e('logo', '', 'a')(href="index.html"): img(src="./files/logo-black.svg" alt="Логотип Eventum Premo")
    +e('closer', '', 'button'): span.visually-hidden Закрыть меню
  +e('main')
    +e('menu'): include menu
  +e('lang'): include lang
