-
  const menu = [
  {
    title: 'Услуги',
    url: '#0',
    children: [
      {
        title: 'Event',
        url: '#0',
      },
      {
        title: 'Space',
        url: '#0',
      },
      {
        title: 'PR',
        url: '#0',
      },
      {
        title: 'Digital',
        url: '#0',
      },
    ]
  },
  {
    title: 'Компания',
    url: '#0',
  },
  {
    title: 'Награды',
    url: '#0',
  },
  {
    title: 'Блог',
    url: '#0',
  },
  {
    title: 'Вопросы',
    url: '#0',
  },
  {
    title: 'Контакты',
    url: '#0',
  },
  ];

// menu
+b('menu', '', 'nav')
  +e('list', '', 'ul')
    for i in menu
      -
        let mod = '';
        if (i.children && i.children.length) {
        mod = mod + 'parent.';
        };
      +e('item', {m: mod})
        +e('link', {m: mod}, 'a')(href=i.url) !{i.title}
        if i.children && i.children.length !== 0
          +e('subMenu', '', 'ul')
            for i2 in i.children
              +e('item'): +e('link', '', 'a')(href=i2.url) !{i2.title}

