<div class="b-clients__wrp">
  <div class="b-clients__scroll">
    <ul class="b-clients__list">
      {% for row in rows %}
        <li class="b-clients__item">
          {{- row.content -}}
        </li>
      {% endfor %}
    </ul>

    <button class="b-clients__arrow b-clients__arrow--prev"></button>
    <button class="b-clients__arrow b-clients__arrow--next"></button>
  </div>
</div>


