// awards-about
+b('awardsAbout', '', 'section')
  +e('inner')(class="inner")
    h2.visually-hidden Наши награды

    +e('row')

      +e('item')
        +e('rating'): img(src="./files/awards/special-events@gray.png" alt="")
        +e('place') ТОП 50
        +e('text') event-агентств мира

      +e('item')
        +e('rating'): img(src="./files/awards/akmp@gray.png" alt="")
        +e('place') ТОП 35
        +e('text') креативных агентств России


    +e('row', 'links')
      +e('item'): +e('link')(href="#0") все награды
      +e('item'): +e('link')(href="#0") манифест

