// b-awards-case
+b('b-awardsCase', '', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") Награды

    +e('list', '', 'ul')

      +e('item')
        +e('label', 'gold', 'h3') Золото
        +e('logo'): img(src="./files/awards/big-fish.png" alt="")
        +e('awardName') Лучший BTL проект

      +e('item')
        +e('label', 'silver', 'h3') Серебро
        +e('logo'): img(src="./files/awards/big-fish.png" alt="")
        +e('awardName') Лучшая спонсорская интеграция

      //+e('item')
      //  +e('label', 'bronze', 'h3') Бронза
      //  +e('logo'): img(src="./files/awards/years-event.png" alt="")
      //  +e('awardName') Лучшая спонсорская интеграция
