-
  const awardsAll = [
    'special-events.png',
    'hp2k.png',
    'akmp.png',
    'akmp.png',
    'bema.png',
    'maa.png',
    'ssilver-mercury-white.png',
    'big-fish.png',
    'eventiada-ipra-gwa.png',
    'circles.png',
    'golden-puzzle-white.png',
  ]

// b-awards-all
+b('b-awardsAll', '', 'section')
  +e('inner')(class="inner")
    +e('list', '', 'ul')
      for i in awardsAll
        +e('item')
          +e('itemInner', '', 'div')
            - const img = `./files/awards/${i}`
            +e('logo', '', 'div'): img(src=img alt="")
            +e('card', '', 'div')
              +e('title', '', 'h3') Специальная награда за самое результативное событие
              +e('project', 'gold') SAP Forum Moscow 2017
              +e('project', 'silver') SAP Forum Moscow 2017
              +e('project', 'bronze') SAP Forum Moscow 2017 SAP Forum Moscow 2017
              +e('project', 'shortlist') SAP Forum Moscow 2017

