// b-awards
+b('b-awards', '', 'section')
  +e('inner')(class="inner")
    h2.visually-hidden Награды агенства Eventum Premo
    +e('number') 65
    +e('cnt')
      +e('body', '', 'p') На нашем счету большое количество международных и российских наград за проекты различного формата
      +e('link', '', 'a')(href="#0") все награды
    +e('bg')
