// b-awards-list
+b('b-awardsList', '', 'section')
  +e('inner')(class="inner")
    h1.visually-hidden Награды

    +e('list', '', 'ul')
      +e('item', 'gold')
        | Золото
        +e('num') 12
      +e('item', 'silver')
        | Серебро
        +e('num') 10
      +e('item', 'bronze')
        | Бронза
        +e('num') 5
      +e('item', 'shortlist')
        | Шорт-лист
        +e('num') 13
