// about-titer
+b('aboutTiter', '', 'section')
  +e('heading', '', 'h1') Eventum Premo
  +e('inner')(class="inner")
    +e('body')
      p Наша миссия — находить новые идеи и решения по всему миру для коммуникации бренда и его потребителя, стирая границы между online и offline.
