// b-about
+b('b-about', '', 'section')
  +e('inner')(class="inner")
    h1.visually-hidden Eventum Premo — маркетинговое и event-агенство в Москве
    +e('body', '', 'p') Наша миссия — находить новые идеи и решения по всему миру для коммуникации бренда и его потребителя, стирая границы между online и offline.
