-
  const books = [
  {
    img: 'book-01.jpg',
    title: 'Искусство проведения мероприятий, Беседы мастеров Бу и Шу',
    date: '2016 г.'
  },
  {
    img: 'book-02.jpg',
    title: 'Смешать, но не взбалтывать: рецепты организации мероприятий',
    date: '2009 г.'
  },
  {
    img: 'book-03.jpg',
    title: 'Великолепные мероприятия, технологии и практика event management',
    date: '2006 г.'
  },
  ]

// books
+b('books', '', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") Книги

    +e('list', '', 'ul')
      for i in books
        +e('item')
          - const img = `./files/books/${i.img}`
          +e('img')(href="#0" target="_blank"): img(src=img alt="")
          +e('title')(href="#0" target="_blank")
            | !{i.title}#{' '}
            +e('date', '', 'time')(datetime=2016)= i.date
