-
  const companyContent = [
    'журнал EPigraph_spring',
    'журнал EPigraph_winter',
    'журнал EPigraph_autumn',
    'логотип Eventum Premo',
    'знак Eventum Premo',
    'Алексей Белов'
  ]

// company-content
+b('companyContent', '', 'section')
  +e('inner')
    +e('heading', '', 'h2')(class="blockTitle") Материалы компании

    +e('wrp')
      +e('scroll')
        +e('list', '', 'ul')
          for i in companyContent
            +e('item')
              +e('image')(href="#0" target="_blank"): img(src="./files/company-content.png" alt="")
              +e('title', '', 'h3'): a(href="#0" target="_blank")= i
        +e('arrow', 'prev', 'button')
        +e('arrow', 'next', 'button')
