// jobs
+b('jobs', '', 'section')
  +e('inner')(class="inner")
    +e('image'): img(src="./files/infographics.svg" alt="")

    +e('main')
      +e('heading', '', 'h2')(class="blockTitle") Вакансии
      +e('body')
        p Хотите стать легендой, работать в креативной компании? Вы хотите делать карьеру среди удивительных людей, увлеченных своей работой, в компании с отличной репутацией? Вас ждут интересные задачи, требующие профессионального и творческого подхода, работа в команде специалистов, всегда готовых помочь и поделиться опытом, а так же возможность реализовать свои самые смелые идеи.

        //- p Хотите стать легендой, работать в креативной компании? Вы хотите делать карьеру среди удивительных людей, увлеченных своей работой, в компании с отличной репутацией? Вас ждут интересные задачи, требующие профессионального и творческого подхода, работа в команде специалистов, всегда готовых помочь и поделиться опытом, а так же возможность реализовать свои самые смелые идеи.

      +e('mail'): a(href="mailto:hr@eventum-premo.ru") hr@eventum-premo.ru

      +e('list', '', 'ul')
        +e('item'): +e('link')(href="#0") Senior PR manager
        +e('item'): +e('link')(href="#0") Продюсер видео-контента / Видеопродюсер
        +e('item'): +e('link')(href="#0") Руководитель проектов/Senior Account Manager (Event)
