.aboutTiter {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 327px;

  @include media(msd) {
    padding-top: 40px;
    padding-bottom: 190px;
  }
  @include media(mtl) {
    padding-bottom: 150px;
  }
  @include media(msl) {
    padding-bottom: 70px;
  }
}

.aboutTiter__inner {
}

.aboutTiter__heading {
  position: relative;
  left: 50%;
  margin-bottom: 130px;
  margin-left: -27px;
  transform: translateX(-50%);
  text-align: center;
  white-space: nowrap;
  color: transparent;
  font-size: 230px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.003em;
  -webkit-text-stroke: 3px $color-text;

  @include media(msd) {
    margin-bottom: 40px;
    font-size: 160px;
  }
  @include media(mtp) {
    letter-spacing: normal;
    -webkit-text-stroke: 2px $color-text;
  }
  @include media(mtl) {
    margin-left: -1.3vw;
    font-size: 11.5vw;
    -webkit-text-stroke: 1px $color-text;
  }
}

.aboutTiter__body {
  max-width: 28em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 2.05;

  @include media(mtl) {
    font-size: 33px;
  }
  @include media(msl) {
    font-size: 22px;
  }
  @include media(msp) {
    font-size: 18px;
  }
}
