.awardsAbout {
  position: relative;
  padding-top: 218px;
  padding-bottom: 137px;
  color: #fff;
  background-color: #232323;
  background-image: url(../images/bg-awards-about.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media(msd) {
    padding-top: 150px;
    padding-bottom: 120px;
  }
  @include media(mtl) {
    padding-top: 100px;
  }
  @include media(msl) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    background-color: #000;
  }
}

.awardsAbout__inner {
  position: relative;
  z-index: 1;
}

.awardsAbout__row {
  display: flex;
  justify-content: space-between;

  @include media(msp) {
    display: block;
  }

  &--links {
    @include media(msp) {
      text-align: center;
    }
  }
}

.awardsAbout__item {
  flex-basis: 40.7%;

  @include media(msd) {
    flex-basis: 46%;
  }
  @include media(msp) {
    margin-bottom: 16vw;
  }

  @at-root .anim & {
    opacity: 0;

    &:nth-child(1) {
      transform: translateX(-200px);
    }

    &:nth-child(2) {
      transform: translateX(200px);
    }
  }
}

.awardsAbout__rating {
  width: 228px;
  min-height: 80px;
  margin-bottom: 25px;

  @include media(msd) {
    width: 180px;
  }
  @include media(mtl) {
    width: 15vw;
    min-height: 6vw;
    margin-bottom: 1vw;
  }
  @include media(msp) {
    width: 30vw;
    min-height: 12vw;
    margin-bottom: 2vw;
  }
}

.awardsAbout__place {
  margin-bottom: -12px;
  color: transparent;
  font-size: 159px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.003em;
  -webkit-text-stroke: 2px #fff;

  @include media(msd) {
    margin-bottom: 5px;
    font-size: 110px;
  }
  @include media(mtl) {
    font-size: 9vw;
  }
  @include media(msl) {
    -webkit-text-stroke: 1px #fff;
  }
  @include media(msp) {
    font-size: 18vw;
  }
}

.awardsAbout__text {
  font-size: 40px;
  font-weight: 500;

  @include media(msd) {
    font-size: 36px;
  }
  @include media(mtl) {
    font-size: 2.4vw;
  }
  @include media(msl) {
    font-size: 3.3vw;
  }
  @include media(msp) {
    font-size: 6.6vw;
  }
}

.awardsAbout__links {
  display: flex;
  justify-content: center;
  align-items: baseline;

  @at-root .anim & {
    transform: translateY(100px);
    opacity: 0;
  }
}

.awardsAbout__link {
  position: relative;
  margin-top: 165px;
  margin-right: 130px;
  padding-bottom: 6px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 1;
  text-transform: lowercase;
  letter-spacing: 0.5em;

  @include media(msd) {
    margin-top: 130px;
  }
  @include media(mtl) {
    margin-top: 10vw;
    font-size: 3vw;
  }
  @include media(msp) {
    margin-top: 3vw;
    font-size: 19px;
  }

  &:last-child {
    margin-right: 0;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    transition-duration: 0.3s;
    background-color: rgba(#fff, 0.45);
  }

  &:hover {
    &::after {
      transform: translateY(10px);
      opacity: 0;
    }
  }
}

.awardsAbout__video {
  @include ob-fit;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
