.b-awardsList {
  margin-top: 100px;
  margin-bottom: 71px;

  @include media(msd) {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

.b-awardsList__inner {
}

.b-awardsList__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(msl) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}

.b-awardsList__item {
  @include award-label;

  flex-basis: 33.333%;

  @include media(msd) {
    font-size: 30px;
  }
  @include media(mtl) {
    font-size: 20px;
  }
  @include media(mtp) {
    text-align: left;
    font-size: 18px;
  }
  @include media(msl) {
    flex-basis: 50%;
    flex-shrink: 0;
    margin-bottom: 30px;
  }

  &::before {
    @include media(mtl) {
      width: 40px;
      height: 40px;
      margin-right: 12px;
    }
    @include media(msp) {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }
}

.b-awardsList__num {
  display: inline-block;
  margin-left: 7px;
  transform: translateY(-26px);
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.09em;
  -webkit-text-stroke: 1px $color-text;
}
