.b-about {
  padding-top: 307px;
  padding-bottom: 300px;

  @include media(msd) {
    padding-top: 120px;
    padding-bottom: 170px;
  }
  @include media(mtl) {
    padding-top: 90px;
    padding-bottom: 130px;
  }
  @include media(mtp) {
    padding-bottom: 90px;
  }
  @include media(msl) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include media(msp) {
    padding-top: 50px;
  }

  @at-root .anim & {
    transform: translateX(300px);
    opacity: 0;
  }
}

.b-about__inner {
  position: relative;

  &::before {
    content: '';
  }
}

.b-about__body {
  max-width: 25.8em;
  margin-left: auto;
  font-size: 40px;
  font-weight: 500;
  line-height: 2.05;

  @include media(msd) {
    max-width: 68%;
    font-size: 36px;
  }
  @include media(mtl) {
    font-size: 26px;
  }
  @include media(mtp) {
    font-size: 22px;
  }
  @include media(msl) {
    font-size: 16px;
  }
  @include media(msp) {
    max-width: none;
    margin-right: auto;
    margin-left: 0;
    font-size: 18px;
  }
}

.b-about__img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 27em;
  height: 27em;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 10px;

  @include media(mtl) {
    left: 20px;
    //width: 25%;
    width: 25vw;
    height: 0;
    padding-bottom: 25%;
  }
  @include media(msp) {
    position: static;
    display: block;
    width: 55%;
    margin: 60px auto 20px;
    padding-bottom: 55%;
    transform: translateY(0);
  }

  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 11.5em;
    //height: 27em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media(mtl) {
      width: 50%;
    }
  }
}

.b-about__img1 {
  left: 0;
  background-image: url(../images/ep-symbol-1.svg);

  @at-root .anim & {
    transform: translateY(100%);
    opacity: 0;
  }
}

.b-about__img2 {
  right: 0;
  background-image: url(../images/ep-symbol-2.svg);

  @at-root .anim & {
    transform: translateY(-100%);
    opacity: 0;
  }
}
