.b-awardsCase {
  margin-top: 217px;
  margin-bottom: 205px;

  @include media(msd) {
    margin-top: 190px;
  }
  @include media(mtl) {
    margin-bottom: 170px;
  }
  @include media(mtp) {
    margin-top: 130px;
    margin-bottom: 130px;
  }
  @include media(msl) {
    margin-top: 100px;
  }
  @include media(msp) {
    margin-bottom: 100px;
  }
}

.b-awardsCase__inner {
}

.b-awardsCase__heading {
  margin-bottom: 113px;
  text-align: center;

  @include media(msd) {
    margin-bottom: 90px;
  }
  @include media(mtp) {
    margin-bottom: 60px;
  }
  @include media(msl) {
    margin-bottom: 40px;
  }
}

.b-awardsCase__list {
  @include list-reset;

  display: flex;
  justify-content: center;

  @include media(msl) {
    flex-wrap: wrap;
  }
  @include media(msp) {
    display: block;
  }
}

.b-awardsCase__item {
  flex-basis: 357px;
  margin: 0 15px;

  @include media(msl) {
    margin-bottom: 30px;
    lost-column: 1/2;
  }
  @include media(msp) {
    margin-bottom: 50px;
    lost-column: 1/1;
  }
}

.b-awardsCase__label {
  @include award-label;
}

.b-awardsCase__logo {
  display: flex;
  min-height: 232px;
  margin-bottom: 20px;
  background-color: #000;

  @include media(mtl) {
    min-height: 19vw;
  }
  @include media(msl) {
    min-height: 27vw;
  }
  @include media(msp) {
    min-height: 55vw;
  }

  img {
    width: auto;
    max-width: 60%;
    max-height: 60%;
    margin: auto;
  }
}

.b-awardsCase__awardName {
  font-weight: 500;
}
