.b-awardsAll {
  margin-bottom: 160px;

  @include media(mtp) {
    margin-bottom: 120px;
  }
  @include media(msl) {
    margin-bottom: 90px;
  }
  @include media(msp) {
    margin-bottom: 70px;
  }
}

.b-awardsAll__inner {
}

.b-awardsAll__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.b-awardsAll__item {
  position: relative;
  min-height: 232px;
  margin-bottom: 30px;
  lost-column: 1/4;

  @include media(msd) {
    min-height: 200px;
  }
  @include media(mtl) {
    lost-column: 1/3;
  }
  @include media(mtp) {
    min-height: 28vw;
    lost-column: 1/2;
  }
  @include media(msl) {
    max-width: 370px;
    min-height: 50vw;
    lost-column: 1/1 0;

    &:nth-child(1n) {
      margin-right: auto;
      margin-left: auto;
    }
  }
  @include media(msp) {
    max-width: 460px;
    min-height: 55vw;
  }

  &:hover {
    z-index: 1;

    .b-awardsAll__itemInner {
      transform: rotateY(-180deg);
    }
  }
}

.b-awardsAll__itemInner {
  position: relative;
  height: 100%;
  transition-duration: 0.8s;

  transform-style: preserve-3d;
}

.b-awardsAll__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url(../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  backface-visibility: hidden;

  img {
    width: auto;
    max-width: 70%;
    max-height: 70%;
    margin: auto;
  }
}

.b-awardsAll__card {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 45px 50px;
  transform: rotateY(180deg);
  border: 2px solid rgba(5, 7, 38, 0.1);
  background-color: #fff;
  box-shadow: 0 0 20px -3px rgba(#000, 0.3);

  @include media(msd) {
    padding: 20px 15px;
  }

  backface-visibility: hidden;
}

.b-awardsAll__title {
  margin-bottom: 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.0625;
}

.b-awardsAll__project {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;

  //&:last-child {
  //  margin-bottom: 0;
  //}

  &::before {
    content: '';
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &--gold::before {
    background-color: $color-gold;
  }

  &--silver::before {
    background-color: $color-silver;
  }

  &--bronze::before {
    background-color: $color-bronze;
  }

  &--shortlist::before {
    box-sizing: border-box;
    border: 1px solid rgba(5, 7, 38, 0.5);
    background-color: #fff;
  }
}
