.b-awards {
  padding-top: 191px;
  padding-bottom: 210px;

  @include media(msd) {
    padding-top: 140px;
    padding-bottom: 110px;
  }
  @include media(mtl) {
    padding-bottom: 70px;
  }
  @include media(msl) {
    padding-top: 80px;
  }
  @include media(msp) {
    padding-bottom: 50px;
  }

  @at-root .anim & {
    //opacity: 0;
    //transform: translateY(200px);
  }
}

.b-awards__inner {
  //@include logo-bg;
  position: relative;
  z-index: 2;
}

.b-awards__bg {
  position: absolute;
  z-index: -1;
  top: -33px;
  left: calc(-8vw - 53px);
  width: 7.15em;
  height: 5.47em;
  pointer-events: none;
  background-image: url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg);
  background-repeat: no-repeat;
  //background-position-x: 0, 0.63em, 1.19em, 1.74em;
  background-position-x: 0, 0, 0, 0;
  background-position-y: center;
  background-size: auto 100%;
  font-size: 100px;

  @include media(msd) {
    top: -83px;
  }
  @include media(mtl) {
    font-size: 80px;
  }
  @include media(mtp) {
    font-size: 70px;
  }
  @include media(msp) {
    font-size: 50px;
  }
}

.b-awards__cnt {
  position: relative;
  z-index: 1;
  width: 42.5%;
  margin-left: auto;

  @include media(msd) {
    width: 45%;
  }
  @include media(mtl) {
    width: 50%;
  }
  @include media(msl) {
    width: 100%;
    max-width: 30em;
    margin-right: auto;
    margin-left: 0;
  }

  @at-root .anim & {
    transform: translateY(300px);
    opacity: 0;
  }
}

.b-awards__body {
  margin-bottom: 101px;
  font-size: 56px;
  font-weight: 500;
  line-height: 1.25;

  @include media(msd) {
    font-size: 36px;
  }
  @include media(mtl) {
    font-size: 32px;
  }
  @include media(mtp) {
    margin-bottom: 80px;
    font-size: 26px;
  }
  @include media(msl) {
    margin-bottom: 60px;
  }
  @include media(msp) {
    margin-bottom: 50px;
    font-size: 22px;
  }
}

.b-awards__number {
  position: absolute;
  top: 17px;
  left: 143px;
  font-size: 456px;
  font-weight: 650;
  line-height: 1;
  letter-spacing: -0.075em;

  @include media(msd) {
    top: -45px;
    left: 15px;
  }
  @include media(mtl) {
    font-size: 38vw;
  }
  @include media(msl) {
    position: relative;
    width: 250px;
    font-size: 230px;
  }
  @include media(msp) {
    margin-bottom: -30px;
    font-size: 190px;
  }

  @at-root .anim & {
    opacity: 0;
  }
}

.b-awards__link {
  @include link;
}
