.b-blogList {
  margin-bottom: 190px;

  @include media(mtp) {
    margin-bottom: 150px;
  }
  @include media(msl) {
    margin-bottom: 120px;
  }
  @include media(msp) {
    margin-bottom: 90px;
  }
}

.b-blogList__inner {
}

.b-blogList__list {
  @include list-reset;
}

.b-blogList__item {
  margin-bottom: 82px;

  @include media(msl) {
    margin-bottom: 60px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
