.b-clients {
  margin-top: 201px;
  margin-bottom: 204px;

  @include media(msd) {
    margin-top: 130px;
    margin-bottom: 170px;
  }
  @include media(mtp) {
    margin-top: 100px;
    margin-bottom: 110px;
  }
  @include media(msl) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  @include media(msp) {
    margin-bottom: 60px;
  }
}

.b-clients__inner {
  max-width: none;
}

.b-clients__heading {
  margin-bottom: 110px;
  text-align: center;

  @include media(msd) {
    margin-bottom: 70px;
  }
  @include media(mtp) {
    margin-bottom: 50px;
  }
  @include media(msp) {
    margin-bottom: 30px;
  }
}

.b-clients__wrp {
  position: relative;
}

.b-clients__scroll {
  //@include no-scroll-bar;
  //overflow-x: auto;
  overflow: hidden;
  padding-right: 70px;
  padding-left: 70px;

  //@include media(msd) {
  //
  //  padding-right: 50px;
  //}
}

.b-clients__list {
  @include list-reset;

  display: inline-flex;
  align-items: center;
}

.b-clients__item {
  display: flex;
  lost-column: 1/7;

  @include media(mtp) {
    margin-bottom: 30px;
    lost-column: 1/4;
  }
  @include media(msp) {
    flex-basis: auto;
    width: 100px;
    max-width: none;

    &:nth-child(n) {
      margin-right: 15px;
    }
  }

  img {
    width: auto;
    max-width: 80%;
    margin: auto;
    opacity: 0.7;

    @include media(msp) {
      max-width: 100%;
    }

    filter: grayscale(100%);
  }
}

.b-clients__arrow {
  @include btn-reset;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  cursor: pointer;
  opacity: 0;
  outline: none;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% + 70px);
    width: 5em;
    height: 5em;
    transform: translate(-50%, -50%);
    background-image: $i-arrow;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 10px;
  }

  &--prev {
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, #fff 30%, rgba(#fff, 0.0001) 100%);

    &::after {
      left: calc(50% - 70px);
      transform: rotate(180deg);
    }
  }

  &--next {
    right: 0;
    transform: translateX(100%);
    background-image: linear-gradient(-90deg, #fff 30%, rgba(#fff, 0.0001) 100%);
  }
}
