.b-comments {
  margin-bottom: 190px;
  padding-right: 129px;
  padding-left: 129px;

  @include media(msd) {
    padding-right: 50px;
    padding-left: 50px;
  }
  @include media(mtl) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include media(mtp) {
    margin-bottom: 130px;
    padding-right: 120px;
    padding-left: 120px;
  }
  @include media(msl) {
    margin-bottom: 90px;
    padding-right: 30px;
    padding-left: 30px;
  }
  @include media(msp) {
    padding-right: 0;
    padding-left: 0;
  }
}

.b-comments__header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 46px;
}

.b-comments__heading {
  font-size: 40px;
  font-weight: 500;
  text-transform: lowercase;
}

.b-comments__num {
  margin-left: 22px;
  opacity: 0.2;
  font-size: 40px;
}

.b-comments__link {
  width: 100%;
  color: $color-style;
  font-weight: 700;
  text-transform: lowercase;

  a {
    transition-duration: 0.3s;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.b-comments__list {
  @include list-reset;
}

.b-comments__item {
  margin-bottom: 42px;
  padding-bottom: 41px;
  border-bottom: 2px solid rgba($color-text, 0.3);

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
