.b-form {
  padding-top: 207px;
  padding-bottom: 82px;

  @include media(mtl) {
    padding-top: 70px;
  }
  @include media(mtp) {
    padding-top: 50px;
  }

  @at-root .anim & {
    .form__item,
    .form__button {
      transform: translateY(300px);
      opacity: 0;
    }
  }
}

.b-form__inner {
}

.b-form__heading {
  max-width: 14em;
  margin-right: auto;
  margin-bottom: 55px;
  margin-left: auto;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.29167;
  text-transform: uppercase;
  letter-spacing: 0.125em;

  @include media(msl) {
    font-size: 34px;
  }
  @include media(msp) {
    margin-bottom: 40px;
    font-size: 24px;
  }
}

.b-form__form {
  width: 640px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include media(msp) {
    width: 100%;
    max-width: 320px;
  }
}
