.b-faq {
  position: relative;
  z-index: 2;
  margin-bottom: 190px;
  padding-top: 30px;

  @include media(mtp) {
    margin-bottom: 150px;
  }
  @include media(msl) {
    margin-bottom: 110px;
  }
}

.b-faq__inner {
  position: relative;
  z-index: 1;
  max-width: 1002px;
}

.b-faq__heading {
  margin-bottom: 30px;
  font-size: 86px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.11em;

  @include media(mtp) {
    font-size: 66px;
  }
  @include media(msl) {
    font-size: 50px;
  }
  @include media(msp) {
    font-size: 40px;
  }
}

.b-faq__list {
  @include list-reset;

  border-top: 1px solid rgba(#000, 0.3);
}

.b-faq__item {
}

.b-faq__bg {
  position: absolute;
  top: -118px;
  left: calc(-8vw + 150px);
  width: 7.15em;
  height: 5.47em;
  pointer-events: none;
  background-image: url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg);
  background-repeat: no-repeat;
  background-position-x: 0, 0, 0, 0;
  background-position-y: center;
  background-size: auto 100%;
  font-size: 100px;

  @include media(msd) {
    top: 0;
    left: 0;
    opacity: 0.4;
  }
  @include media(mtl) {
    font-size: 80px;
  }
  @include media(mtp) {
    font-size: 70px;
  }
  @include media(msp) {
    font-size: 50px;
  }
}
