.b-projects {
  $this: &;

  margin-top: 211px;

  @include media(mtl) {
    margin-top: 140px;
  }
  @include media(msl) {
    margin-top: 90px;
  }

  &--inner {
    #{$this}__heading {
      margin-bottom: 80px;
    }
  }
}

.b-projects__inner {
}

.b-projects__heading {
  margin-bottom: 35px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.71;
  text-transform: uppercase;
  letter-spacing: 0.12em;

  @include media(msl) {
    font-size: 38px;
  }
}

.b-projects__tabs {
}

.b-projects__nav {
  margin-bottom: 122px;

  @include media(mtl) {
    margin-bottom: 90px;
  }
  @include media(msl) {
    margin-bottom: 50px;
  }
  @include media(msp) {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}

.b-projects__tab {
  @include btn-reset;

  position: relative;
  margin-right: 44px;
  transition-duration: 0.5s;
  text-align: left;
  opacity: 0.3;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;

  @include media(mtl) {
    font-size: 20px;
  }
  @include media(msl) {
    font-size: 18px;
  }

  &:hover {
    color: inherit;

    &::after {
      transition-duration: 0s;
      opacity: 1;
      background-color: rgba($color-text, 0.5);
    }
  }

  &::after {
    content: '';
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    transition-duration: 0.5s;
    transform: translateY(15px);
    opacity: 0;
  }

  &.-active {
    opacity: 1;
    color: $color-style;

    &::after {
      transition-duration: 0.5s;
      transform: translateY(0);
      opacity: 1;
      background-color: $color-style;
    }
  }
}

.b-projects__contents {
}

.b-projects__content {
  @include projects-block-anim;
}
