.b-services {
  position: relative;
  overflow: hidden;
  padding-top: 193px;

  @include media(msd) {
    padding-top: 160px;
  }
  @include media(mtl) {
    padding-top: 120px;
  }
  @include media(mtp) {
    padding-top: 100px;
  }
  @include media(msl) {
    padding-top: 48px;
  }

  @at-root .anim & {
    transform: translateY(200px);
    opacity: 0;
  }
}

.b-services__decorText {
  position: absolute;
  top: 120px;
  right: 0;
  left: 0;
  height: 0;
  transition-duration: 0.5s;
  white-space: nowrap;
  pointer-events: none;
  color: rgba($color-text, 0.03);
  font-size: 167px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;

  @include media(msd) {
    top: 85px;
    font-size: 140px;
  }
  @include media(mtl) {
    top: 55px;
    font-size: 120px;
  }
  @include media(mtp) {
    top: 40px;
  }
  @include media(msl) {
    top: 30px;
    font-size: 50px;
  }

  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
    transform: translateX(0);
  }

  &.-fireAnim {
    transform: translateX(-70px);
    color: transparent;

    &::after {
      transform: translateX(119px);
      opacity: 0;
      color: rgba($color-text, 0.03);
    }
  }
}

.b-services__inner {
}

.b-services__heading {
  margin-bottom: 68px;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.71;
  text-transform: uppercase;
  letter-spacing: 0.12em;

  @include media(mtl) {
    margin-bottom: 60px;
  }
  @include media(mtp) {
    margin-bottom: 30px;
  }
  @include media(msl) {
    margin-bottom: 20px;
    font-size: 38px;
  }
}

.b-services__tabs {
}

.b-services__scroll {
  @include media(msl) {
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 10px;
  }
}

.b-services__nav {
  display: flex;
  align-items: flex-end;
  min-height: 44px;
  margin-bottom: 108px;

  @include media(msd) {
    margin-bottom: 90px;
  }
  @include media(mtl) {
    margin-bottom: 80px;
  }
  @include media(mtp) {
    margin-bottom: 60px;
  }
  @include media(msl) {
    display: inline-flex;
    margin-bottom: 40px;
  }
}

.b-services__tab {
  @include btn-reset;

  width: 210px;
  transition-duration: 0.5s;
  text-align: left;
  opacity: 0.3;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;

  @include media(msd) {
    width: 180px;
  }
  @include media(mtp) {
    width: 140px;
    font-size: 18px;
  }
  @include media(msl) {
    width: 120px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-last-child(2) {
    width: auto;
  }

  > a {
    display: inline-block;
    transform: translateY(-18px);
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-weight: 700;
  }

  &.-active {
    transform: translateY(2px);
    opacity: 1;
    color: $color-style;
    font-size: 1.5833em;
  }
}

.b-services__contents {
  width: 100%;
}

.b-services__content {
  display: block;
  transition-duration: 1s;
  opacity: 0;

  .servicesTeaser__img {
    transition-duration: 1s;
    transform: translateX(220px);
  }

  .servicesTeaser__list {
    transition-duration: 1s;
    transform: translateX(70px);
  }

  &.-active {
    transition-delay: 1s;
    opacity: 1;

    .servicesTeaser__img {
      transition-delay: 1s;
      transform: translateX(0);
    }

    .servicesTeaser__list {
      transition-delay: 1s;
      transform: translateX(0);
    }
  }

  &:first-child {
    video {
      @include ob-fit;
    }
  }
}

.b-services__deep {
  width: 50px;
  margin-left: 7px;
  transform: translateY(-1px);

  svg {
    display: block;
    width: 100%;
  }
}
