.b-subscribe {
  margin-bottom: 90px;

  @include media(msl) {
    margin-bottom: 80px;
  }

  &--sb {
    .b-subscribe__inner {
      display: block;
    }

    .b-subscribe__subscribe {
      margin-right: 0;
      margin-bottom: 80px;

      @include media(msp) {
        margin-bottom: 60px;
      }
    }

    .form--inline {
      display: block;

      .form__item {
        width: 100%;
      }

      .form__field {
        font-weight: 500;
      }

      .form-actions,
      .form__actions {
        margin-top: 40px;
        margin-left: auto;
        padding-bottom: 0;

        @include media(msp) {
          margin-top: 0;
        }
      }
    }
  }
}

.b-subscribe__inner {
  display: flex;
  //justify-content: flex-end;
  align-items: center;

  @include media(msl) {
    display: block;
  }
}

.b-subscribe__subscribe {
  margin-right: 124px;

  @include media(mtl) {
    margin-right: 45px;
  }
  @include media(mtp) {
    margin-right: 30px;
  }
  @include media(msl) {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.b-subscribe__author {
  //@include link;
  //
  //margin-bottom: 27px;
}
