.b-team {
  margin-bottom: 158px;

  @include media(msd) {
    margin-bottom: 110px;
  }
  @include media(mtl) {
    margin-bottom: 80px;
  }
  @include media(msl) {
    margin-bottom: 30px;
  }
}

.b-team__inner {
}

.b-team__heading {
  margin-bottom: 113px;
  text-align: center;

  @include media(msd) {
    margin-bottom: 90px;
  }
  @include media(mtp) {
    margin-bottom: 70px;
  }
  @include media(msp) {
    margin-bottom: 40px;
  }
}

.b-team__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.b-team__item {
  margin-bottom: 90px;
  lost-column: 1/3 3 160px;

  @include media(msd) {
    lost-column: 1/3 3 130px;
  }
  @include media(mtl) {
    lost-column: 1/3 3 80px;
  }
  @include media(mtp) {
    margin-bottom: 70px;
    lost-column: 1/3 3 30px;
  }
  @include media(msl) {
    lost-column: 1/2 2 20px;
  }
  @include media(msp) {
    margin-bottom: 50px;
    lost-column: 1/2 2 10px;
  }

  @at-root .anim & {
    transform: translateY(100px);
    opacity: 0;
  }
}

.b-team__image {
  margin-bottom: 31px;

  @include media(mtp) {
    margin-bottom: 20px;
  }
  @include media(msp) {
    margin-bottom: 10px;
  }
}

.b-team__name {
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;

  @include media(mtp) {
    font-size: 20px;
  }
  @include media(msp) {
    font-size: 16px;
  }
}

.b-team__post {
  opacity: 0.3;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;

  @include media(mtp) {
    font-size: 16px;
  }
  @include media(msl) {
    font-size: 14px;
  }
  @include media(msp) {
    font-size: 12px;
  }
}
