.bc {
  color: hsl(0, 0, 70%);

  @include media(mtl) {
    font-size: 14px;
  }
  @include media(msl) {
    font-size: 12px;
  }
}

.bc__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.bc__item {
  margin-right: 10px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      transition-duration: 0.2s;
      color: $color-style;
    }
  }

  &:last-child::after {
    content: none;
  }

  &::after {
    content: ' /';
    margin: 0 0.2em;
  }
}
