.blogCard {
  display: flex;
  align-items: flex-start;

  @include media(msl) {
    display: block;
  }
}

.blogCard__image {
  flex-shrink: 0;
  width: 57.4%;

  @include media(msl) {
    width: auto;
    max-width: 460px;
    margin-right: 50px;
  }
  @include media(msp) {
    margin-right: 40px;
  }
}

.blogCard__cnt {
  position: relative;
  box-sizing: border-box;
  width: 58%;
  min-height: 326px;
  margin-top: 231px;
  margin-left: -226px;
  padding: 75px 30px 75px 64px;
  border: 2px solid rgba(5, 7, 38, 0.1);
  background-color: #fff;

  @include media(mtl) {
    width: 68%;
    margin-top: 170px;
    padding: 45px 30px 55px 60px;
  }
  @include media(mtp) {
    min-height: 290px;
    margin-top: 130px;
    padding: 30px 30px 40px 50px;
  }
  @include media(msl) {
    width: auto;
    min-height: auto;
    margin-top: -40px;
    margin-left: 50px;
    padding: 20px 30px 40px 40px;
  }
  @include media(msp) {
    margin-left: 30px;
    padding: 20px 15px 40px 30px;
  }
}

.blogCard__tags {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 16px;

  @include media(msl) {
    margin-bottom: 13px;
  }
}

.blogCard__tag {
  margin-right: 15px;
  color: $color-style;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  @include media(msl) {
    font-size: 14px;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    transition-duration: 0.3s;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.blogCard__title {
  margin-bottom: 14px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.05;

  @include media(mtl) {
    font-size: 30px;
  }
  @include media(mtp) {
    font-size: 26px;
  }
  @include media(msl) {
    font-size: 22px;
  }
  @include media(msp) {
    font-size: 18px;
  }

  a {
    transition-duration: 0.3s;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color-style;
    }
  }
}

.blogCard__body {
  max-width: 35em;
  padding-right: 100px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;

  @include media(msl) {
    padding-right: 60px;
    font-size: 14px;
  }
  @include media(msp) {
    font-size: 12px;
  }
}

.blogCard__link {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: block;
  width: 120px;
  height: 134px;
  transition-duration: 0.5s;
  background-image: $i-blog-more;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 41px;

  @include media(msl) {
    width: 80px;
    height: 80px;
    background-size: 16px;
  }

  &:hover {
    background-position-x: 70%;
  }
}
