.blockCardSb {
}

.blockCardSb__image {
  display: block;
  margin-bottom: 13px;
}

.blockCardSb__title {
  min-height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;

  a {
    transition-duration: 0.3s;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: $color-style;
    }
  }
}
