.blogTiter {
  margin-top: 50px;
  margin-bottom: 77px;

  @include media(msd) {
    margin-top: 90px;
  }
  @include media(mtp) {
    margin-top: 30px;
  }
  @include media(msp) {
    margin-bottom: 30px;
  }
}

.blogTiter__inner {
  display: flex;
  align-items: flex-end;

  @include media(msl) {
    display: block;
  }
}

.blogTiter__heading {
  flex-shrink: 0;
  max-width: 7em;
  margin-right: 68px;
  font-size: 86px;
  text-transform: uppercase;
  letter-spacing: 0.11628em;

  @include media(mtl) {
    font-size: 66px;
  }
  @include media(msl) {
    margin-bottom: 30px;
    font-size: 50px;
  }

  &--tag {
    text-transform: none;
    letter-spacing: normal;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.blogTiter__tags {
  flex-basis: 50%;
  flex-grow: 1;
  width: 50%;
  padding-bottom: 19px;

  @include media(msl) {
    width: 100%;
  }
}
