.books {
  margin-bottom: 150px;

  @include media(mtl) {
    margin-bottom: 120px;
  }
}

.books__inner {
}

.books__heading {
  margin-bottom: 79px;
  text-align: center;

  @include media(mtl) {
    margin-bottom: 60px;
  }
}

.books__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media(mtp) {
    justify-content: space-around;
  }
  @include media(msl) {
    display: block;
  }
}

.books__item {
  margin-bottom: 40px;
  lost-column: 1/3 3 70px;

  @include media(mtp) {
    margin-bottom: 60px;
    lost-column: 1/2 2 30px;
  }
  @include media(msl) {
    max-width: 460px;
    lost-column: 1/1;

    &:nth-child(1n) {
      margin-left: 0;
    }
  }

  @at-root .anim & {
    transform: translateY(100px);
    opacity: 0;
  }
}

.books__card {
  display: flex;
  align-items: center;
}

.books__img {
  flex-shrink: 0;
  width: 38.3%;
  max-width: 176px;
  margin-right: 26px;

  filter: grayscale(100%);
}

.books__title {
  margin-top: 12px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;

  @include media(msp) {
    font-size: 14px;
  }
}

.books__date {
  opacity: 0.3;
}
