.button {
  display: inline-block;
  box-sizing: border-box;
  transition-duration: 0.3s;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  line-height: 1;
}
