#colorbox {
  overflow: visible;
}

#cboxWrapper {
  @include media(msp) {
    overflow: visible;
  }
}

#cboxTitle {
  display: none !important;
  color: #fff;
  border-radius: 0;
  background-image: linear-gradient(80deg, #000 -50%, $color-style 100%);
}

#cboxContent, .cboxPhoto {
  border-radius: 0;
}

#cboxContent {
  &:hover {
    #cboxPrevious, #cboxNext {
      transform: translateX(0) translateY(-50%);
      opacity: 1;
    }
  }
}

#cboxClose.cbox-close-plain {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 26px;
}

#cboxPrevious, #cboxNext {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  transition-duration: 0.35s;
  transform: translateY(-50%);
  opacity: 0;
  font-size: 0;

  @include media(mtl) {
    transform: translateX(0) translateY(-50%) !important;
    opacity: 1;
  }
  @include media(msp) {
    top: calc(100% + 20px);
    transform: translateX(0) !important;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

#cboxPrevious {
  left: 20px;
  transform: translateX(-100px) translateY(-50%);

  &::after {
    transform: rotate(-180deg);
  }
}

#cboxNext {
  right: 20px;
  transform: translateX(100px) translateY(-50%);
}
