.comment {
}

.comment__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 11px;
}

.comment__name {
  margin-right: 17px;
  font-weight: 700;
  line-height: 1;
}

.comment__date {
  opacity: 0.3;
  font-weight: 500;
}

.comment__body {
  max-width: 35em;
  font-size: 14px;
  line-height: 1.5714;
}
