.companyContent {
  margin-bottom: 326px;

  @include media(msd) {
    margin-bottom: 230px;
  }
  @include media(mtl) {
    margin-bottom: 150px;
  }
  @include media(msl) {
    margin-bottom: 100px;
  }
}

.companyContent__inner {
  @include media(msd) {
    max-width: none;
  }
  @include media(mtl) {
    padding-right: 0;
    padding-left: 0;
  }
}

.companyContent__heading {
  margin-bottom: 80px;
  text-align: center;

  @include media(mtp) {
    margin-bottom: 60px;
  }
  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.companyContent__wrp {
  position: relative;
}

.companyContent__scroll {
  //@include no-scroll-bar;
  //overflow-x: auto;
  overflow: hidden;
  padding-right: 70px;
  padding-left: 70px;

  //@include media(msd) {
  //
  //  padding-right: 50px;
  //}
}

.companyContent__list {
  @include list-reset;

  display: inline-flex;

  @include media(msd) {
    padding-left: 50px;
  }
  @include media(msl) {
    padding-left: 10px;
  }
}

.companyContent__item {
  width: 380px;
  margin-right: 30px;

  @include media(msd) {
    width: 300px;
  }
  @include media(mtl) {
    width: 377px;
  }
  @include media(msl) {
    width: 250px;
    margin-right: 10px;
  }

  &:last-child {
    padding-right: 50px;
  }
}

.companyContent__image {
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 2px solid rgba(5, 7, 38, 0.1);
}

.companyContent__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;

  a {
    transition-duration: 0.3s;
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color-style;
    }
  }
}

.companyContent__arrow {
  @include btn-reset;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  cursor: pointer;
  opacity: 0;
  outline: none;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(50% + 70px);
    width: 5em;
    height: 5em;
    transform: translate(-50%, -50%);
    background-image: $i-arrow;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 10px;
  }

  &--prev {
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, #fff 30%, rgba(#fff, 0.0001) 100%);

    &::after {
      left: calc(50% - 70px);
      transform: rotate(180deg);
    }
  }

  &--next {
    right: 0;
    transform: translateX(100%);
    background-image: linear-gradient(-90deg, #fff 30%, rgba(#fff, 0.0001) 100%);
  }
}
