.contact {
  font-style: normal;
}

.contact__label {
  margin-bottom: 1px;
  opacity: 0.3;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

.contact__value {
  position: relative;
  padding-bottom: 3px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}
