.sliding-popup-bottom {
  right: 0;
  left: 0;
}

.eu-cookie-compliance-message {
  float: none;
  max-width: unset;
  margin-right: 100px;

  @include media(mtp) {
    margin-right: 20px;
  }
  @include media(msp) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.eu-cookie-compliance-banner {
  text-align: center;
  color: #fff;
  background-color: rgba(#000, 0.8);
  font-size: 12px;
}

.eu-cookie-compliance-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: none;
  padding: 10px 30px;

  @include media(mtp) {
    padding-right: 10px;
    padding-left: 10px;
  }
  @include media(msp) {
    display: block;
    text-align: center;
  }
}

.eu-cookie-compliance-buttons {
  display: flex;
  align-items: baseline;

  @include media(msl-only) {
    display: block;
  }
  @include media(msp) {
    justify-content: center;
  }
}

.eu-cookie-compliance-more-button,
.eu-cookie-compliance-agree-button {
  @include btn-reset;

  cursor: pointer;
  white-space: nowrap;
  text-decoration: underline;
  color: inherit;
  font-weight: 700;

  @include media(msl-only) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  &:hover {
    text-decoration: none;
  }
}

.eu-cookie-compliance-agree-button {
  margin-right: 20px;

  @include media(msl) {
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
  }
  @include media(msp) {
    margin-right: 20px;
  }
}
