.errorPage {
  position: relative;
  padding-top: 230px;
  padding-bottom: 230px;
  text-align: center;
  background-color: #ebecf0;

  @include media(msd) {
    padding-top: 130px;
  }
  @include media(mtl) {
    padding-bottom: 160px;
  }
  @include media(msl) {
    padding-top: 70px;
    padding-bottom: 110px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
    background-image: url(../images/bg-404.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100%;

    @include media(msd) {
      top: -60px;
    }
    @include media(mtl) {
      background-size: 1220px;
    }
    @include media(msl) {
      top: -70px;
      background-size: 930px;
    }
    @include media(msp) {
      top: -50px;
      background-size: 810px;
    }
  }
}

.errorPage__title {
  margin-bottom: -28px;
  margin-left: -50px;
  color: transparent;
  font-size: 470px;
  font-weight: 650;
  line-height: 1;
  -webkit-text-stroke: 2px $color-text;

  @include media(msd) {
    font-size: 300px;
  }
  @include media(msl) {
    margin-bottom: -10px;
    margin-left: 0;
    font-size: 200px;
    -webkit-text-stroke: 1px #050726;
  }
  @include media(msp) {
    font-size: 160px;
  }

  span:nth-child(1) {
    position: relative;
    z-index: 1;
  }

  span:nth-child(2) {
  }

  span:nth-child(3) {
  }
}

.errorPage__body {
  margin-bottom: 56px;
  font-size: 56px;
  font-weight: 500;

  @include media(msd) {
    font-size: 46px;
  }
  @include media(msl) {
    font-size: 34px;
  }
  @include media(msp) {
    font-size: 28px;
  }
}

.errorPage__link {
  @include link;
}
