.faq {
  position: relative;
  transition-duration: 0.5s;
  border-bottom: 1px solid rgba(#000, 0.3);

  &.-opened {
    .faq__title::after {
      transform: translateY(-50%) rotate(-180deg);
    }

    .faq__content {
      visibility: visible;
      transform: translateY(0);
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.faq__title {
  position: relative;
  padding: 32px 50px 31px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.20833;

  @include media(mtp) {
    font-size: 22px;
  }
  @include media(msl) {
    padding: 25px 50px 25px 0;
    font-size: 18px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 17px;
    height: 17px;
    transition-duration: 0.5s;
    transform: translateY(-50%);
    background-image: $i-faq-arrow;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.faq__content {
  position: absolute;
  right: 0;
  left: 0;
  visibility: hidden;
  padding-top: 10px;
  padding-right: 70px;
  padding-bottom: 50px;
  transition-duration: 0.5s;
  transform: translateY(-50px);
  pointer-events: none;
  opacity: 0;
  line-height: 1.875;

  @include media(msl) {
    padding-right: 0;
  }
  @include media(msp) {
    padding-top: 0;
  }

  table {
    display: block;
  }

  tr {
    display: flex;
    justify-content: space-between;
  }

  tbody {
    display: block;
  }

  td {
    display: block;
    width: 32%;
    vertical-align: top;
  }
}
