.form {
  &--project {
    .form__item {
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        position: relative;

        &::after {
          content: '*';
          position: absolute;
          top: -7px;
          right: 0;
          color: $color-style;
        }
      }
    }
  }

  &--inline {
    display: flex;
    align-items: flex-end;

    .form__item {
      width: 310px;
      margin-bottom: 0;

      @include media(mtp) {
        width: 220px;
      }
    }

    .form__label {
      @include visually-hidden;
    }

    .form__field {
      border-width: 2px;
    }

    .form-actions,
    .form__actions {
      margin-left: -41px;
      padding-bottom: 21px;

      @include media(msl) {
        margin-left: -40px;
      }
      @include media(msp) {
        margin-left: -30px;
      }
    }

    .form__button {
      padding-left: 60px;
      font-size: 16px;

      &:hover {
        margin-right: -10px;
        padding-left: 60px;
        text-indent: 30px;
      }

      &::before {
        width: 70px;
        height: 70px;
        background-color: #f5e6eb;
        background-size: 22px;
      }
    }
  }

  &--subscribe {
    .form__field {
      padding-bottom: 1em;
      font-size: 18px;

      @include media(msl) {
        font-size: 16px;
      }
    }
  }
}

.form__item {
  display: block;
  margin-bottom: 39px;

  @include media(msl) {
    margin-bottom: 30px;
  }

  &--cb {
    margin-bottom: 0;
  }
}

.form__label {
  display: block;
  font-weight: 650;
}

.form__field {
  display: block;
  width: 100%;
  padding-bottom: 15px;
  border: none;
  border-bottom: 3px solid rgba($color-text, 0.4);
  outline: none;
  font-family: inherit;
  font-weight: 650;
  line-height: 1.25;

  @include media(msl) {
    border-width: 2px;
  }

  &:focus {
    border-bottom-color: $color-style;
  }

  &::placeholder {
    opacity: 0.3;
  }

  &--ta {
    height: 89px;
    resize: none;
  }

  &--cb {
    @include visually-hidden;

    & + .form__label {
      position: relative;
      width: 220px;
      padding-left: 34px;
      color: rgba($color-text, 0.23);
      font-size: 14px;

      a {
        display: inline;
        color: inherit;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        margin-right: 10px;
        transform: translateY(-50%);
        border: 2px solid $color-style;
      }
    }

    &:checked + .form__label::before {
      background-color: $color-style;
    }
  }
}

.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  @include media(msp) {
    display: block;
  }
}

.form__button {
  @include btn-reset;
  @include link;

  margin-right: 20px;
  cursor: pointer;
  text-transform: lowercase;

  @include media(msp) {
    margin-top: 50px;
  }

  &:hover {
    margin-right: -16px;
  }
}
