.jobs {
  margin-bottom: 314px;

  @include media(msd) {
    margin-bottom: 220px;
  }
  @include media(msl) {
    margin-bottom: 120px;
  }
}

.jobs__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(mtp) {
    flex-direction: column;
  }
}

.jobs__image {
  width: 56%;
  margin-top: 27px;
  transform: translateX(-27px);

  @include media(mtp) {
    order: 2;
    width: 470px;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(0);
  }
  @include media(msl) {
    margin-top: 50px;
  }
  @include media(msp) {
    position: relative;
    left: 50%;
    width: 118%;
    transform: translateX(-50%);
  }

  @at-root .anim & {
    transform: translateX(-200px) ;
    opacity: 0;

    @include media(msp) {
      left: 0;
    }
  }
}

.jobs__main {
  width: 40.6%;

  @include media(mtp) {
    width: auto;
  }

  @at-root .anim & {
    transform: translateY(200px);
    opacity: 0;
  }
}

.jobs__heading {
  margin-bottom: 44px;

  @include media(msl) {
    margin-bottom: 25px;
  }
}

.jobs__body {
  font-weight: 500;
  line-height: 1.875;

  p {
    margin-bottom: 2.7em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.jobs__mail {
  position: relative;
  margin-top: 32px;
  margin-bottom: 56px;
  padding-left: 46px;
  font-weight: 700;
  line-height: 1;

  @include media(msp) {
    margin-bottom: 70px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 26px;
    height: 26px;
    transform: translateY(-50%);
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  a {
    padding-bottom: 2px;
    transition-duration: 0.3s;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.jobs__list {
  @include list-reset;

  position: relative;
  padding-left: 100px;

  @include media(msp) {
    padding-left: 0;
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 65px;
    height: 65px;
    transform: translateY(-50%);
    background-image: url(../images/hh.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media(msp) {
      position: static;
      display: block;
      margin: 0 auto 30px;
      transform: translateY(0);
    }
  }
}

.jobs__item {
  margin-bottom: 6px;

  @include media(mtl) {
    margin-bottom: 10px;
  }
  @include media(msp) {
    margin-bottom: 20px;
  }
}

.jobs__link {
  display: inline;
  transition-duration: 0.3s;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid;
  font-weight: 700;
  line-height: 1.2;
}
