.lang {
  color: #000;
  font-size: 24px;
  font-weight: 650;
  line-height: 1;
}

.lang__item {
  display: block;
  text-decoration: none;
  opacity: 0.5;
  color: inherit;

  &:last-child {
    margin-top: 50px;
  }

  &--active {
    opacity: 1;
  }
}
