.listingPage {
  margin-bottom: 200px;

  @include media(mtl) {
    margin-bottom: 130px;
  }
  @include media(msl) {
    margin-bottom: 90px;
  }
}

.listingPage__inner {
}

.listingPage__title {
  margin-bottom: 100px;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 0.11628em;

  @include media(mtl) {
    margin-bottom: 30px;
    font-size: 52px;
  }
  @include media(msl) {
    margin-bottom: 20px;
    font-size: 40px;
  }
  @include media(msp) {
    font-size: 34px;
  }
}

.listingPage__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  @include media(msp) {
    display: block;
  }
}

.listingPage__item {
  margin-bottom: 40px;
  lost-column: 1/2;

  @include media(mtp) {
    margin-bottom: 20px;
    lost-column: 1/2 2 20px;
  }
  @include media(msl) {
    margin-bottom: 10px;
    lost-column: 1/2 2 10px;
  }
  @include media(msp) {
    lost-column: 1/1;
  }

  &:nth-child(2n) {
    transform: translateY(-140px);
  }
}
