.mainSlider {
  position: relative;
}

.mainSlider__inner {
}

.mainSlider__heading {
}

.mainSlider__slider {
}

.mainSlider__slides {
  @include list-reset;

  display: flex;
  //transition-delay: 1s;
  //transition-duration: 0s !important;
}

.mainSlider__slide {
  &.tns-slide-active {
    .projectMainslider__img {
      display: block;
    }
  }
}

.mainSlider__nav {
  position: absolute;
  z-index: 1;
  bottom: 117px;
  left: 50%;
  width: $md;
  transform: translateX(-50%);
  pointer-events: none;

  @include media(msd) {
    bottom: 55px;
    width: 1170px;
  }
  @include media(mtl) {
    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
  @include media(msp) {
    //bottom: 63px;
    bottom: 23px;
  }
}

.mainSlider__navInner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.5em;
  height: 12.0em;
  margin-left: auto;
  pointer-events: auto;
  background-color: #fff;
  font-size: 6px;

  @include media(mtl) {
    //font-size: 6.939px;
  }
  @include media(msl) {
    font-size: 5.306px;
    //width: 130px;
    //height: 65px;
  }
  @include media(msp) {
    font-size: 4.49px;
    //width: 110px;
    //height: 55px;
  }
}

.mainSlider__arrow {
  @include btn-reset;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 8.5em;
  cursor: pointer;
  outline: none;
  background-image: $i-arrow;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.7em;

  &--prev {
    left: 0;
    transform: rotate(180deg);
  }

  &--next {
    right: 0;
  }

  &[disabled] {
    opacity: 0.3;

    filter: grayscale(100%);
  }
}

.mainSlider__counter {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.833em;
  color: #000;
  font-size: 3em;
  line-height: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 3.333em;
    transform: translate(-50%, -50%) rotate(26deg);
    pointer-events: none;
    opacity: 0.2;
    background-color: #000;
  }
}

.mainSlider__total {
  opacity: 0.2;
}

.mainSlider__current {
  color: #000;
}

.tns-slide-active {
  .projectMainslider__img {
    //display: block;
  }
}

.mainSlider__cover {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;

  &--1 {
    opacity: 0.7;
    background-color: $color-style;
  }

  &--2 {
    z-index: 2;
    background-color: #fff;
  }
}
