.menuModal {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: -110%;
  overflow: hidden;
  width: 100%;
  padding-top: 211px;
  transition-duration: 0.7s;
  pointer-events: none;
  background-color: #fff;

  @include media(msd) {
    padding-top: 140px;
  }
  @include media(msp) {
    padding-top: 80px;
  }

  &.-opened {
    left: 0;
    pointer-events: auto;
  }
}

.menuModal__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 70px 30px 45px;
  background-color: #fff;

  @include media(msd) {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-right: 0;
    padding-left: 0;
  }
  @include media(mtl) {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }
  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.menuModal__logo {
  @include media(mtl) {
    width: 120px;
  }
  @include media(msl) {
    width: 90px;
  }
}

.menuModal__closer {
  @include btn-reset;

  position: relative;
  width: 1em;
  height: 1em;
  font-size: 50px;

  @include media(mtl) {
    font-size: 30px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 0.08em;
    transform: translateY(-50%);
    background-color: #000;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}

.menuModal__main {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  max-height: calc(100vh - 167px);

  @include media(msd) {
    max-height: calc(100vh - 127px);
  }
}

.menuModal__menu {
  margin-right: auto;
  margin-left: auto;

  @include media(mtp) {
    margin-left: 20px;
  }
}

.menuModal__lang {
  position: absolute;
  top: 50%;
  left: 95px;
  display: none;
  transform: translateY(-50%);

  @include media(msd) {
    left: calc((100% - 1170px) / 2);
  }
}

.menuModal__button {
  @include btn-reset;

  position: relative;
  width: 49px;
  height: 34px;
  cursor: pointer;
  border-radius: 50%;

  @include media(msl) {
    width: 39px;
    height: 21px;
  }

  &:focus {
    outline: none;

    .menuModal__buttonLine {
      box-shadow: 0 0 10px 0 rgba(#fff, 1);
    }
  }
}

.menuModal__buttonLine {
  position: absolute;
  right: 0;
  left: 0;
  height: 4px;
  transition-duration: 0.3s;
  background-color: #fff;

  @include media(msl) {
    height: 3px;
  }

  &--top {
    top: 0;
  }

  &--bottom {
    bottom: 0;
  }

  @at-root .page--blackHeader & {
    background-color: #000;
  }

  @at-root .header--animate & {
    background-color: #000;
  }
}
