.menu {
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.125em;

  @include media(msd) {
    font-size: 38px;
  }
  @include media(mtp) {
    font-size: 22px;
  }
}

.menu__list {
  @include list-reset;
}

.menu__item {
  margin-bottom: 71px;

  @include media(msd) {
    margin-bottom: 50px;
  }
  @include media(mtp) {
    margin-bottom: 40px;
  }

  &--parent {
    position: relative;

    &:hover {
      .menu__subMenu {
        transition-delay: 0s;
        transform: translateX(0);
        pointer-events: auto;
        opacity: 1;

        @include media(msp) {
          position: static;
          transition-duration: 0.3s;
        }
      }
    }
  }
}

span.menu__link {
  &:hover {
    color: $color-text;
  }
}

.menu__link {
  position: relative;
  display: block;
  min-width: 8.5em;
  transition-duration: 0.5s;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $color-style;
  }

  &--parent {
    position: relative;

    &::after {
      content: '';

      @include media(msp) {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    right: -0.8em;
    width: 2em;
    height: 2.9em;
    transform: translateY(-50%);
    background-image: url(../images/submenu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 10px;

    @include media(mtp) {
      font-size: 7px;
    }
    @include media(msp) {
      transition-duration: 0.3s;
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.menu__subMenu {
  @include list-reset;

  position: absolute;
  top: 0;
  left: calc(100% + 123px);
  transition-delay: 0s;
  transition-duration: 0.5s;
  transform: translateX(-30px);
  pointer-events: none;
  opacity: 0;

  @include media(msd) {
    left: calc(100% + 90px);
  }
  @include media(msp) {
    left: 0;
    padding-top: 30px;
    padding-left: 30px;
    transition-duration: 0s;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 125px;
  }

  .menu__link {
    position: relative;
    display: inline;
    color: $color-style;

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      width: 0;
      height: 4px;
      transition-duration: 0.3s;
      transform: none;
      background-color: $color-style;

      @include media(msl) {
        height: 3px;
      }
    }
  }
}
