.p-article {
  $this: &;

  margin-top: 9px;
  margin-bottom: 105px;
  padding-right: 129px;
  padding-left: 129px;

  @include media(msd) {
    padding-right: 50px;
    padding-left: 50px;
  }
  @include media(mtl) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include media(mtp) {
    padding-right: 120px;
    padding-left: 120px;
  }
  @include media(msl) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include media(msp) {
    padding-right: 0;
    padding-left: 0;
  }

  &--basic {
    #{$this}__heading {
      text-align: center;
    }

    #{$this}__body {
      max-width: 50em;
      margin-right: auto;
      margin-left: auto;
      font-size: 20px;

      div {
        margin-bottom: 50px;
      }
    }
  }
}

.p-article__header {
  margin-bottom: 45px;

  @include media(msp) {
    margin-bottom: 30px;
  }
}

.p-article__bc {
  margin-bottom: 30px;

  @include media(mtl) {
    margin-bottom: 20px;
  }
}

.p-article__tags {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 6px;
}

.p-article__tag {
  margin-right: 1.2em;
  margin-bottom: 7px;
  white-space: nowrap;
  color: $color-style;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  @include media(msl) {
    font-size: 14px;
  }

  a {
    transition-duration: 0.3s;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.p-article__heading {
  margin-bottom: 16px;
  font-size: 56px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;

  @include media(mtl) {
    font-size: 46px;
  }
  @include media(mtp) {
    font-size: 36px;
  }
  @include media(msl) {
    font-size: 28px;
  }
  @include media(msp) {
    font-size: 24px;
  }
}

.p-article__views {
  position: relative;
  padding-left: 34px;
  opacity: 0.2;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  @include media(msl) {
    font-size: 14px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background-image: $i-views;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.p-article__image {
  margin-right: -129px;
  margin-bottom: 75px;
  margin-left: -129px;

  @include media(msd) {
    margin-right: -50px;
    margin-bottom: 60px;
    margin-left: -50px;
  }
  @include media(mtl) {
    margin-right: -30px;
    margin-bottom: 50px;
    margin-left: -30px;
  }
  @include media(mtp) {
    margin-right: -130px;
    margin-left: -130px;
  }
  @include media(msl) {
    margin-right: -40px;
    margin-left: -40px;
  }
  @include media(msp) {
    padding-right: -10px;
    padding-left: -10px;
  }
}

.p-article__body {
  @include article-body;
}

.p-article__footer {
  margin-top: 47px;
}

.p-article__author {
  display: flex;
  margin-bottom: 60px;
}

.p-article__authorLabel {
  margin-right: 20px;
  opacity: 0.5;
  font-weight: 700;
}

.p-article__authorValue {
  font-weight: 500;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.p-article__bottomRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.p-article__share {
}

.p-article__clap {
  display: flex;
  align-items: center;
  margin-bottom: -12px;
}

.p-article__clapButton {
  @include btn-reset;

  flex-shrink: 0;
  box-sizing: border-box;
  width: 54px;
  height: 54px;
  margin-right: 15px;
  border: 2px solid $color-style;
  border-radius: 50%;
  background-image: $i-clap;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.p-article__clapNum {
  opacity: 0.3;
  font-weight: 700;
}
