.p-contacts {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-top: 280px;
  color: #fff;
  background-color: #000;
  background-image: url(../images/bg-contacts.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media(msd) {
    padding-top: 180px;
  }
  @include media(mtl) {
    padding-top: 160px;
  }
  @include media(msl) {
    padding-top: 110px;
  }
}

.p-contacts__inner {
}

.p-contacts__heading {
  margin-bottom: 35px;
  color: inherit;
  font-size: 56px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;

  @include media(mtp) {
    font-size: 46px;
  }
  @include media(msl) {
    font-size: 38px;
  }
}

.p-contacts__cnt {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;

  @include media(mtp) {
    font-size: 18px;
  }
  @include media(msl) {
    font-size: 14px;
  }
}

.p-contacts__row {
  display: flex;
  align-items: center;

  &--address {
    margin-bottom: 55px;

    @include media(msp) {
      display: block;
    }
  }

  &--phoneMail {
    margin-bottom: 55px;

    @include media(msl) {
      flex-wrap: wrap;
    }
    @include media(msp) {
      display: block;
      text-align: center;
    }

    .p-contacts__item {
      margin-right: 95px;

      @include media(msl) {
        margin-bottom: 20px;
      }
      @include media(msp) {
        width: 200px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
      }

      &:last-child {
        margin-right: 0;

        @include media(msp) {
          margin-right: auto;
        }
      }
    }
  }

  &--social {
    @include media(msp) {
      justify-content: center;
    }

    .p-contacts__item {
      margin-right: 91px;

      @include media(msl) {
        margin-right: 70px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.p-contacts__item {
}

.p-contacts__address {
  position: relative;
  box-sizing: border-box;
  width: 480px;
  margin-right: 32px;
  margin-bottom: 0;
  padding-left: 61px;

  @include media(mtp) {
    width: 400px;
  }
  @include media(msl) {
    width: 55%;
    padding-left: 50px;
  }
  @include media(msp) {
    width: auto;
    margin-right: 0;
    margin-bottom: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 26px;
    height: 35px;
    background-image: $i-marker;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.p-contacts__addressLink {
  @include link;
}

.p-contacts__label {
  margin-bottom: 1px;
  opacity: 0.3;
  font-size: 16px;
  line-height: 1;
}

.p-contacts__value {
  a {
    padding-bottom: 6px;
    transition-duration: 0.3s;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid;
    line-height: 1;

    &:hover {
      color: $color-style;
      border-bottom-color: transparent;
    }
  }
}

.p-contacts__social {
  padding-bottom: 6px;
  transition-duration: 0.3s;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid;
  font-size: 26px;
  line-height: 1;

  @include media(msl) {
    font-size: 20px;
  }

  &:hover {
    color: $color-style;
    border-bottom-color: transparent;
  }
}

.p-contacts__decorText {
  margin-top: 130px;
  margin-bottom: -30px;
  margin-left: -0.191729em;
  white-space: nowrap;
  color: transparent;
  font-size: 11.4vw;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  -webkit-text-stroke: 3px #fff;

  @include media(msd) {
    margin-bottom: -0.11278em;
  }
  @include media(mtl) {
    -webkit-text-stroke: 2px #fff;
  }
  @include media(mtp) {
    margin-top: 90px;
  }
  @include media(msl) {
    -webkit-text-stroke: 1px #fff;
  }
}

.p-contacts__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}
