$project-card-duration: 0.8s;

.projectCard {
}

.projectCard__link {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  transition-duration: $project-card-duration;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(80deg, #000 -50%, $color-style 100%);

  &:hover {
    transform: scale(1.04);
    box-shadow: 0 0 20px 5px rgba(#000, 0.4);

    .projectCard__bottom {
      transform: translateY(-40px);
    }

    .projectCard__img {
      transform: scale(1.1);
      opacity: 0.2;
    }

    .projectCard__more {
      opacity: 1;
    }
  }
}

.projectCard__cnt {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 50px;

  @include media(mtl) {
    padding: 30px;
  }
  @include media(mtp) {
    padding: 20px;
  }
  @include media(msl) {
    padding: 15px;
  }
}

.projectCard__img {
  transition-duration: $project-card-duration;
}

.projectCard__logo {
  @include media(mtp) {
    max-width: 60px;
  }
  @include media(msl) {
    max-width: 50px;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}

.projectCard__bottom {
  margin-top: auto;
  transition-duration: $project-card-duration;
  transform: translateY(36px);
}

.projectCard__title {
  color: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;

  @include media(mtl) {
    font-size: 20px;
  }
  @include media(mtp) {
    font-size: 18px;
  }
  @include media(msl) {
    font-size: 14px;
  }
  @include media(msp) {
    font-size: 16px;
  }
}

.projectCard__more {
  margin-top: 20px;
  transition-duration: $project-card-duration;
  text-decoration: none;
  opacity: 0;
  color: inherit;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
