.projectSlider {
  @include media(mtl) {
    position: relative;
    top: -18px;
  }
}

.projectSlider__slides {
}

.projectSlider__slide {
  @include projects-block-anim-slider;
}

.projectSlider__nav {
  margin-top: -30px;

  @include media(mtp) {
    margin-top: -10px;
  }
}

.projectSlider__navInner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.90625em;
  height: 4.75em;
  font-size: 32px;

  @include media(mtp) {
    font-size: 26px;
  }
  @include media(msl) {
    font-size: 22px;
  }
  @include media(msp) {
    margin-left: auto;
  }
}

.projectSlider__arrow {
  @include btn-reset;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 2.65625em;
  cursor: pointer;
  background-image: $i-arrow;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.84375em;

  &--prev {
    left: 0;
    transform: rotate(180deg);
  }

  &--next {
    right: 0;
  }
}

.projectSlider__counter {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3.09375em;
  color: #000;
  line-height: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 4.375em;
    transform: translate(-50%, -50%) rotate(26deg);
    pointer-events: none;
    opacity: 0.2;
    background-color: #000;
  }
}

.projectSlider__total {
  opacity: 0.2;
}

.projectSlider__current {
  color: #000;
}
