.projectTiter {
  position: relative;
  margin-bottom: 205px;

  @include media(msd) {
    margin-top: 30px;
  }
  @include media(mtl) {
    margin-bottom: 170px;
  }
  @include media(mtp) {
    margin-bottom: 140px;
  }
  @include media(msl) {
    margin-bottom: 100px;
  }
}

.projectTiter__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include media(mtp) {
    align-items: flex-start;
  }
  @include media(msl) {
    display: block;
  }
}

.projectTiter__image {
  flex-shrink: 0;
  width: 50vw;
  margin-right: 165px;
  margin-left: calc((100vw - #{$md})/-2);

  @include media(msd) {
    margin-right: 90px;
    margin-left: calc((100vw - 1170px) / -2);
  }
  @include media(mtl) {
    margin-right: 50px;
    margin-left: -20px;
  }
  @include media(msl) {
    width: 330px;
  }
  @include media(msp) {
    width: 100%;
  }

  @at-root .anim & {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.projectTiter__main {
  flex-grow: 1;
  padding-bottom: 74px;

  @include media(mtp) {
    padding-top: 40px;
    padding-bottom: 0;
  }
  @include media(mtp) {
    font-size: 22px;
  }
  @include media(msl) {
    margin-left: 70px;
  }
  @include media(msp) {
    margin-left: 10px;
  }

  @at-root .anim & {
    transform: translateY(300px);
    opacity: 0;
  }
}

.projectTiter__company {
  margin-bottom: 22px;
  color: $color-style;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;

  @include media(mtl) {
    font-size: 22px;
  }
  @include media(mtp) {
    margin-bottom: 0.8em;
    font-size: 18px;
  }
}

.projectTiter__title {
  margin-bottom: 31px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.55;
  text-transform: uppercase;

  @include media(mtl) {
    font-size: 28px;
  }
  @include media(mtp) {
    margin-bottom: 0.8em;
    font-size: 22px;
  }
}

.projectTiter__tags {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.projectTiter__tag {
  margin-right: 37px;
  margin-bottom: 10px;
  opacity: 0.3;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;

  @include media(mtl) {
    font-size: 18px;
  }
  @include media(mtp) {
    margin-right: 25px;
    font-size: 16px;
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $color-style;
    }
  }
}
