.projectOther {
  margin-top: 190px;
  margin-bottom: 225px;

  @include media(msd) {
    margin-bottom: 190px;
  }
  @include media(mtl) {
    margin-bottom: 150px;
  }
  @include media(msl) {
    margin-bottom: 100px;
  }
}

.projectOther__inner {
  //@include logo-bg {
  //  top: -20px;
  //  left: calc(-8vw - 2px);
  //
  //  @include media(msl) {
  //    font-size: 60px;
  //  }
  //}
  position: relative;
  z-index: 2;
}

.projectOther__bg {
  position: absolute;
  z-index: -1;
  top: -33px;
  left: calc(-8vw - 53px);
  width: 7.15em;
  height: 5.47em;
  pointer-events: none;
  background-image: url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg),
  url(../images/ep-symbol-empty.svg);
  background-repeat: no-repeat;
  //background-position-x: 0, 0.63em, 1.19em, 1.74em;
  background-position-x: 0, 0, 0, 0;
  background-position-y: center;
  background-size: auto 100%;
  font-size: 100px;

  @include media(msd) {
    top: -83px;
  }
  @include media(mtl) {
    font-size: 80px;
  }
  @include media(mtp) {
    font-size: 70px;
  }
  @include media(msp) {
    font-size: 50px;
  }
}

.projectOther__heading {
  position: relative;
  z-index: 1;
  margin-bottom: 90px;

  @include media(mtl) {
    margin-bottom: 60px;
  }
  @include media(mtp) {
    margin-bottom: 40px;
  }
}

.projectOther__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  @include media(msp) {
    display: block;
  }
}

.projectOther__item {
  lost-column: 1/2;

  @include media(msl) {
    lost-column: 1/2 2 10px;
  }
  @include media(msp) {
    margin-bottom: 20px;
    lost-column: 1/1;
  }
}
