.projectMainslider {
  position: relative;
  //padding-top: 305px;
  padding-top: 220px;
  padding-bottom: 152px;
  color: #fff;
  background-color: #000;

  @include media(msd) {
    padding-top: 160px;
    padding-bottom: 100px;
  }
  @include media(msl) {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  @include media(msp) {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}

.projectMainslider__inner {
}

.projectMainslider__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  @include media(msl) {
    left: 50%;
    width: 140%;
    margin-right: auto;
    margin-left: auto;
    transform: translateX(-50%);
  }

  > div {
    height: 100%;
    padding: 0 !important;
  }

  img {
    @include ob-fit;

    width: 100%;
    height: 100%;
  }
}

.projectMainslider__type {
  position: relative;
  z-index: 1;
  margin-bottom: 6px;
  margin-left: -0.03em;
  color: transparent;
  font-size: 260px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #fff;

  @include media(msd) {
    font-size: 140px;
  }
  @include media(mtl) {
    font-size: 110px;
  }
  @include media(mtp) {
    font-size: 80px;
    -webkit-text-stroke: 2px #fff;
  }
  @include media(msp) {
    font-size: 30px;
    -webkit-text-stroke: 1px #fff;
  }
}

.projectMainslider__title {
  position: relative;
  z-index: 1;
  max-width: 10em;
  margin-bottom: 127px;
  color: inherit;
  font-size: 92px;
  font-weight: 900;
  line-height: 1.12;
  text-transform: uppercase;
  letter-spacing: -3.5px;

  @include media(msd) {
    margin-bottom: 100px;
    font-size: 60px;
  }
  @include media(mtl) {
    margin-bottom: 70px;
    font-size: 50px;
  }
  @include media(msl) {
    margin-bottom: 30px;
    font-size: 36px;
    letter-spacing: normal;
  }
  @include media(msp) {
    max-width: none;
    min-height: 42px;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.projectMainslider__link {
  @include link {
    &::before {
      background-color: rgba(#fff, 0.1);
      background-image: $i-arrow--white;
    }
  }
}
