.projectGallery {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 33px;
}

.projectGallery__inner {
}

.projectGallery__ticker {
  margin-bottom: -69px;

  @include media(mtp) {
    margin-bottom: -40px;
  }
  @include media(msl) {
    margin-bottom: -30px;
  }
  @include media(msp) {
    margin-bottom: -20px;
  }
}

.projectGallery__list {
  @include list-reset;

  position: relative;
  z-index: 1;
  width: 110%;
}

.projectGallery__row {
  display: flex;
  flex-wrap: wrap;

  &:nth-child(1) {
    transform: translateX(450px);

    @include media(mtp) {
      transform: translateX(20vw);
    }
  }

  &:nth-child(2) {
    transform: translateX(-551px);

    @include media(mtp) {
      transform: translateX(-40vw);
    }
  }

  &:nth-child(3) {
    transform: translateX(364px);

    @include media(mtp) {
      transform: translateX(25vw);
    }
  }
}

.projectGallery__item {
  margin-bottom: 30px;
  lost-column: 1/3;

  @include media(msl) {
    margin-bottom: 15px;
    lost-column: 1/3 3 15px;
  }
  @include media(msp) {
    margin-bottom: 10px;
    lost-column: 1/3 3 10px;
  }

  a {
    position: relative;
    display: block;
    overflow: hidden;

    &:hover {
      //&::before {
      //  opacity: 0.8;
      //}

      &::after {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }

    &::before {
      //content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition-duration: 0.4s;
      opacity: 0;
      background-image: linear-gradient(80deg, #000 -50%, $color-style 100%);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      width: 10em;
      height: 10em;
      transition-duration: 0.4s;
      transform: translate(-50%, calc(-50% + 30px));
      opacity: 0;
      background-image: url(../images/lupe.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      font-size: 10px;
    }
  }
}
