.projectTeaser {
}

.projectTeaser__inner {
}

.projectTeaser__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.projectTeaser__item {
  margin-bottom: 30px;
  lost-column: 1/2;

  @include media(mtp) {
    margin-bottom: 20px;
    lost-column: 1/2 2 20px;
  }
  @include media(msl) {
    margin-bottom: 10px;
    lost-column: 1/2 2 10px;
  }
  @include media(msp) {
    lost-column: 1/1;
  }

  &:nth-child(2n) {
    transform: translateY(-180px);

    @include media(mtl) {
      transform: translateY(-110px);
    }
    @include media(mtp) {
      transform: translateY(-50px);
    }
    @include media(msl) {
      transform: translateY(-30px);
    }
    @include media(msp) {
      transform: translateY(0);
    }
  }
}
