.sb-lastBlog {
  margin-bottom: 56px;
}

.sb-lastBlog__heading {
  margin-bottom: 30px;
}

.sb-lastBlog__list {
  @include list-reset;

  @include media(mtp) {
    display: flex;
    flex-wrap: wrap;
  }
}

.sb-lastBlog__item {
  margin-bottom: 26px;

  @include media(mtp) {
    margin-bottom: 50px;
    lost-column: 1/2 2 15px;
  }
  @include media(msp) {
    lost-column: 1/1;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
