.sb-tags {
  margin-bottom: 31px;
}

.sb-tags__heading {
  margin-bottom: 11px;
}

.sb-tags__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.sb-tags__item {
  margin-right: 6px;
  margin-bottom: 6px;

  a {
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    transition-duration: 0.2s;
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;

    @include media(mtl-only) {
      padding-right: 12px;
      padding-left: 12px;
      font-size: 14px;
    }
    @include media(msl) {
      padding: 8px 10px;
      font-size: 12px;
    }

    &:hover {
      color: #fff;
      border-color: $color-style;
      background-color: $color-style;
    }
  }
}
