.scrollProgress {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
}

.scrollProgress__fill {
  width: 0;
  height: 4px;
  transition-duration: 0.3s;
  background-color: $color-style;
}
