$project-card-duration: 0.8s;

.serviceCard {
  position: relative;
}

.serviceCard__link {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(80deg, #000 -50%, $color-style 100%);

  &:hover {
    .serviceCard__bottom {
      transform: translateY(-40px);

      @include media(mtp) {
        transform: translateY(-10px);
      }
    }

    .serviceCard__img {
      transform: scale(1.1);
      opacity: 0.2;
    }

    .serviceCard__more {
      opacity: 1;
    }
  }
}

.serviceCard__cnt {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 50px;

  @include media(mtl) {
    padding: 30px;
  }
  @include media(mtp) {
    padding: 20px;
  }
  @include media(msl) {
    padding: 15px;
  }
}

.serviceCard__img {
  transition-duration: $project-card-duration;
}

.serviceCard__bottom {
  margin-top: auto;
  transition-duration: $project-card-duration;
  transform: translateY(36px);

  @include media(msl) {
    transform: translateY(24px);
  }
}

.serviceCard__title {
  color: transparent;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.21;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  -webkit-text-stroke: 2px #fff;

  @include media(mtl) {
    font-size: 42px;
    -webkit-text-stroke: 1px #fff;
  }
  @include media(mtp) {
    font-size: 32px;
  }
  @include media(msl) {
    font-size: 20px;
  }
  @include media(msp) {
    font-size: 30px;
  }
}

.serviceCard__more {
  margin-top: 20px;
  transition-duration: $project-card-duration;
  text-decoration: none;
  opacity: 0;
  color: inherit;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4em;

  @include media(mtp) {
    margin-top: 12px;
  }
  @include media(msl) {
    font-size: 8px;
  }
}
