.servicesTeaser {
  display: flex;
  width: 100%;

  @include media(mtp) {
    display: block;
  }
}

.servicesTeaser__img {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  width: 49%;
  height: 429px;

  @include media(mtp) {
    margin-bottom: 30px;
  }
  @include media(mtp) {
    width: 60%;
  }
  @include media(msl) {
    width: 80%;
  }
  @include media(msp) {
    width: 100%;
    max-width: 320px;
  }

  video {
    @include ob-fit-contain;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.servicesTeaser__body {
  position: relative;
  z-index: 2;

  ul {
    @include list-reset;

    margin-left: 81px;
    padding-top: 51px;

    @include media(msd) {
      padding-top: 30px;
    }
    @include media(mtl) {
      margin-left: 50px;
      padding-top: 15px;
    }
    @include media(mtp) {
      margin-left: 20%;
      padding-top: 0;
    }
    @include media(msp) {
      margin-left: 0;
    }
  }

  li {
    position: relative;
    margin-bottom: 23px;
    padding-left: 50px;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.237;

    @include media(msd) {
      padding-left: 45px;
      font-size: 28px;
    }
    @include media(mtl) {
      font-size: 24px;
    }
    @include media(msl) {
      margin-bottom: 14px;
      padding-left: 35px;
      font-size: 18px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 24px;
      left: 0;
      width: 30px;
      height: 4px;
      background-color: currentColor;

      @include media(msd) {
        top: 17px;
        width: 26px;
        height: 3px;
      }
      @include media(mtl) {
        top: 14px;
      }
      @include media(msl) {
        top: 10px;
        width: 22px;
        height: 2px;
      }
    }
  }
}
