.share {
  font-size: 20px;
  line-height: 1;
}

.share__label {
  margin-bottom: 17px;
  opacity: 0.5;
  font-weight: 500;
  text-transform: lowercase;
}

.share__list {
  @include list-reset;

  display: flex;
  align-items: baseline;
}

.share__item {
  margin-right: 42px;

  &:last-child {
    margin-right: 0;
  }
}

.share__link {
  padding-bottom: 7px;
  transition-duration: 0.3s;
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid;
  font-weight: 650;

  &:hover {
    color: $color-style;
    border-bottom-color: transparent;
  }
}
