.showreel {
  padding-top: 68px;

  @include media(mtp) {
    padding-top: 30px;
  }

  &--service {
    position: relative;
    padding-top: 0;

    .showreel__inner {
      overflow: hidden;
      max-height: 100vh;
    }

    .showreel__heading {
      position: absolute;
      z-index: 1;
      bottom: 25px;
      left: 40px;
      margin-bottom: 6px;
      margin-left: -0.03em;
      color: transparent;
      font-size: 260px;
      font-weight: 900;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.003em;
      -webkit-text-stroke: 3px #fff;

      @include media(msd) {
        left: calc((100% - 1170px) / 2);
        font-size: 140px;
      }
      @include media(mtl) {
        left: 20px;
        font-size: 110px;
      }
      @include media(msl) {
        left: 10px;
        font-size: 60px;
        -webkit-text-stroke: 2px #fff;
      }
      @include media(msp) {
        bottom: 0;
        font-size: 40px;
        -webkit-text-stroke: 1px #fff;
      }
    }
  }

  &--project {
    margin-bottom: 80px;
    padding-top: 60px;

    @include media(msl) {
      margin-bottom: 60px;
    }
  }
}

.showreel__inner {
  position: relative;
}

.showreel__heading {
  margin-bottom: 48px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.5em;

  @include media(mtl) {
    margin-bottom: 1.4em;
    font-size: 34px;
  }
  @include media(msl) {
    font-size: 26px;
  }
  @include media(msp) {
    font-size: 22px;
  }
}

.showreel__main {
}

.showreel__video {
  display: block;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.showreel__volume {
  @include btn-reset;

  position: absolute;
  right: 70px;
  bottom: 56px;
  width: 72px;
  height: 72px;
  outline: none;
  background-image: url(../images/volume-off.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include media(mtl) {
    right: 20px;
    bottom: 20px;
  }
  @include media(msl) {
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
  }

  &--unmuted {
    background-image: url(../images/volume-on.svg);
  }
}
