@mixin social-link {
  position: relative;
  padding-bottom: 8px;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  line-height: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}

.socials {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.socials__item {
  margin-bottom: 12px;
  lost-column: 1/2 2 70px;

  @include media(mtp) {
    lost-column: 1/4 4 40px;
  }
  @include media(msp) {
    lost-column: 1/2 2 70px;
  }

  a {
    @include social-link;
  }
}

.socials__link {
  @include social-link;
}
