.tabs {
}

.tabs__scroll {
  @include media(msl) {
    @include no-scroll-bar;

    overflow-x: auto;
  }
}

.tabs__nav {
}

.tabs__tab {
  cursor: pointer;

  &:hover {
    color: $color-style;
  }

  &:focus {
    outline: none;
    text-shadow: 0 0 10px $color-style;

    &.-active {
      text-shadow: none;
    }
  }
}

.tabs__contents {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.tabs__content {
  position: absolute;
  display: none;
  flex-shrink: 0;
  width: 100%;
  pointer-events: none;

  &.-active {
    position: static;
    display: block;
    pointer-events: auto;
  }
}
