.tagList {
}

.tagList__slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 70px;
    transition-duration: 0.3s;
  }

  &::before {
    left: 0;
    background-image: linear-gradient(90deg, #fff 40%, rgba(#fff, 0.001));
  }

  &::after {
    right: 0;
    background-image: linear-gradient(-90deg, #fff 40%, rgba(#fff, 0.001));
  }
}

.tagList__scroll {
  overflow-x: hidden;
  padding-right: 40px;
  padding-left: 40px;

  @include media(mtl) {
  }
}

.tagList__slides {
  @include list-reset;

  display: flex;
  align-items: baseline;
}

.tagList__slide {
  margin-right: 60px;

  @include media(mtp) {
    margin-right: 54px;
  }
  @include media(msp) {
    margin-right: 24px;
  }

  &:last-child {
    padding-right: 60px;
  }
}

.tagList__link,
.tagList__slide a {
  transition-duration: 0.3s;
  white-space: nowrap;
  text-decoration: none;
  opacity: 0.3;
  color: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;

  @include media(mtl) {
    font-size: 20px;
  }
  @include media(msp) {
    font-size: 16px;
  }

  &:hover {
    opacity: 1;
  }

  &--active {
    opacity: 1;
    color: $color-style;
  }
}

.tagList__arrow {
  @include btn-reset;

  position: relative;
  z-index: 2;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  cursor: pointer;
  outline: none;
  background-image: url(../images/submenu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--prev {
    transform: rotate(180deg);
  }
}
