.textBlock {
  &--service {
    margin-top: 189px;
    margin-bottom: 305px;

    @include media(msd) {
      margin-top: 150px;
      margin-bottom: 260px;
    }
    @include media(mtl) {
      margin-top: 110px;
      margin-bottom: 180px;
    }
    @include media(msl) {
      margin-top: 80px;
      margin-bottom: 110px;
    }

    @at-root .anim & {
      transform: translateY(200px);
      opacity: 0;
    }
  }

  &--project {
    .textBlock__inner {
      max-width: 1005px;
    }

    .textBlock__body {
      max-width: none;
      font-size: 20px;
      line-height: 1.8;

      @include media(msl) {
        font-size: 16px;
      }

      p {
        @at-root .anim & {
          transform: translateY(50px);
          opacity: 0;
        }
      }
    }
  }
}

.textBlock__inner {
}

.textBlock__heading {
  margin-bottom: 0.82em;
}

.textBlock__body {
  max-width: 27em;
  font-size: 40px;
  font-weight: 500;
  line-height: 2.05;

  @include media(mtl) {
    font-size: 30px;
  }
  @include media(msl) {
    font-size: 24px;
  }
  @include media(msp) {
    font-size: 18px;
  }

  dl {
    dt {
      display: inline;
      font-weight: 700;
    }

    dd {
      display: inline;
      margin-left: 0;
    }
  }
}

.textBlock__link {
  @include link;

  margin-top: 94px;

  @include media(msl) {
    margin-top: 60px;
  }
}
