.ticker {
  overflow: hidden;
  padding-top: 48px;
  white-space: nowrap;
  color: transparent;
  font-size: 232px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  -webkit-text-stroke: 3px $color-text;

  @include media(msd) {
    font-size: 180px;
  }
  @include media(mtl) {
    padding-top: 30px;
    font-size: 120px;
    -webkit-text-stroke: 2px #050726;
  }
  @include media(msp) {
    font-size: 22vw;
    -webkit-text-stroke: 1px #050726;
  }

  &--project {
    font-size: 167px;

    @include media(mtp) {
      font-size: 15vw;
    }
  }
}

.ticker__inner {
  transform: translateX(0);
  animation-name: ticker;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  will-change: auto;
}

.ticker__canvas {
  display: block;
  //width: 100%;
  //height: 300px;
}
