.videoBlock {
  margin-top: 60px;
  margin-bottom: 80px;
  //background-image: url(../images/bg-footer.jpg);
  //background-color: #232323;
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;

  @include media(msl) {
    margin-bottom: 60px;
  }
}

.videoBlock__inner {
  position: relative;
  box-sizing: border-box;
  height: 56.25vw;
  max-height: 95vh;
}

.videoBlock iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
