<section{{ attributes.addClass('b-faq') }}>
  <div class="b-faq__inner inner">

    {{ title_prefix }}
    <h1 class="b-faq__heading pageTitle">{{ label }}</h1>
    {{ title_suffix }}

    {{ content.field_paragraphs }}

  </div>
  <div class="b-faq__bg"></div>
</section>
