<section{{ attributes.addClass('sb-lastBlog') }}>
  <div class="sb-lastBlog__inner inner">
    {{ title_prefix }}
    <h2 class="sb-lastBlog__heading blockTitle">{{ label }}</h2>
    {{ title_suffix }}

    {{ content }}

  </div>
</section>

<section class="b-subscribe b-subscribe--sb">
  <div class="b-subscribe__inner inner">
    <h2 class="visually-hidden">{{ 'Подписаться на обновления'|t }}</h2>

    <div class="b-subscribe__subscribe">
      {{ drupal_entity('webform', 'subscribe') }}
    </div>

    <div class="b-subscribe__author">
      {{ drupal_entity('webform', 'become_an_author') }}
    </div>
  </div>
</section>
