<section{{ attributes.addClass('sb-tags') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="sb-tags__inner inner">
    <h2 class="sb-tags__heading blockTitle">{{ label }}</h2>

    {{ content }}

  </div>
</section>
