<article{{ attributes.addClass('blogCard') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <a class="blogCard__image" href="{{ url }}">
    {{ content.field_image[0] }}
  </a>

  <div class="blogCard__cnt">

    {{ content.field_tags }}

    <h3 class="blogCard__title">
      <a href="{{ url }}">{{ label }}</a>
    </h3>

    <div class="blogCard__body">{{ content.body[0] }}</div>

    <a class="blogCard__link" href="{{ url }}"><span class="visually-hidden">{{ 'Подробнее'|t }}</span></a>
  </div>
</article>
