<article{{ attributes.addClass('p-article') }}>

  <header class="p-article__header">

    {#<div class="p-article__bc">
      {{ drupal_entity('block', 'premo_breadcrumbs', check_access=false) }}
    </div>#}

    {{ content.field_tags }}


    {{ title_prefix }}
    <h1 class="p-article__heading">{{ label }}</h1>
    {{ title_suffix }}

{#    <div class="p-article__views">2 631</div>#}

  </header>

  <div class="p-article__image">
    {{ content.field_image[0] }}
  </div>

  <div class="p-article__body">
    {{ content.body }}
  </div>

  <footer class="p-article__footer">
    {% if content.field_author|render %}
      <div class="p-article__author">
        <div class="p-article__authorLabel">{{ 'Автор'|t }}</div>
        <div class="p-article__authorValue">{{ content.field_author[0] }}</div>
      </div>
    {% endif %}

    <div class="p-article__bottomRow">
      <div class="p-article__share">
        <div class="share">
          <div class="share__label">{{ 'Поделиться'|t }}</div>
          <ul class="share__list">
            <li class="share__item">
              <a class="share__link" href="#0">Facebook</a>
            </li>
            <li class="share__item">
              <a class="share__link" href="#0">VK</a>
            </li>
          </ul>
        </div>
      </div>

      {#<div class="p-article__clap">
        <button class="p-article__clapButton"><span class="visually-hidden">{{ 'Похлопать'|t }}</span></button>
        <div class="p-article__clapNum">420</div>
      </div>#}
    </div>
  </footer>
</article>

{#
<section class="b-comments">
  <header class="b-comments__header">
    <h2 class="b-comments__heading">Комментарии</h2>
    <div class="b-comments__num">2</div>
    <div class="b-comments__link">
      <a href="#0">Написать комментарий</a>
    </div>
  </header>
  <ul class="b-comments__list">
    <li class="b-comments__item">
      <!-- mixin comment-->
      <section class="comment">
        <header class="comment__header">
          <div class="comment__name">Константин</div>
          <div class="comment__date">Вчера 15:29</div>
        </header>
        <div class="comment__body">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.</div>
      </section>
    </li>
    <li class="b-comments__item">
      <!-- mixin comment-->
      <section class="comment">
        <header class="comment__header">
          <div class="comment__name">Анна</div>
          <div class="comment__date">Вчера 15:29</div>
        </header>
        <div class="comment__body">Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве.</div>
      </section>
    </li>
  </ul>
</section>
#}
