<article{{ attributes.addClass('blockCardSb') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <a class="blockCardSb__image" href="{{ url }}">
    {{ content.field_image[0] }}
  </a>
  <h3 class="blockCardSb__title">
    <a href="{{ url }}">{{ label }}</a>
  </h3>
</article>
