{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <section class="blogTiter">
    <div class="blogTiter__inner inner">

      {{ title_prefix }}
      <h1 class="blogTiter__heading blogTiter__heading--tag pageTitle">{{ view.getTitle() }}</h1>
      {{ title_suffix }}

      <div class="blogTiter__tags">
        <div class="tagList">
          <div class="tagList__slider">
            <button class="tagList__arrow tagList__arrow--prev"><span class="visually-hidden">Назад</span></button>

            {{ drupal_view('tags', 'carousel') }}

            {#<ul class="tagList__slides">
              <li class="tagList__slide">
                <a class="tagList__link" href="#0">все</a>
              </li>
              <li class="tagList__slide">
                <a class="tagList__link tagList__link--active" href="#0">event marketing</a>
              </li>
              <li class="tagList__slide">
                <a class="tagList__link" href="#0">опыт</a>
              </li>
            </ul>#}
            <button class="tagList__arrow tagList__arrow--next"><span class="visually-hidden">Вперед</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="b-subscribe">
    <div class="b-subscribe__inner inner">
      <h2 class="visually-hidden">{{ 'Подписаться на обновления'|t }}</h2>

      <div class="b-subscribe__subscribe">
        {{ drupal_entity('webform', 'subscribe') }}
      </div>

      <div class="b-subscribe__author">
        {{ drupal_entity('webform', 'become_an_author') }}
      </div>

    </div>
  </section>

  <section class="b-blogList">
    <div class="b-blogList__inner inner">
      <h2 class="visually-hidden">{{ 'Список статей блога'|t }}</h2>

      <ul class="b-blogList__list">
        {% if rows -%}
          {{ rows }}
        {% elseif empty -%}
          {{ empty }}
        {% endif %}
      </ul>

      {{ pager }}

    </div>
  </section>
</div>

