{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('premo/tags_scroll') }}

<div class="tagList__scroll">

  <ul class="tagList__slides">
    <li class="tagList__slide">
      <a class="tagList__link" href="/blog">{{ 'все'|t }}</a>
    </li>

    {% for row in rows %}
      <li class="tagList__slide">
        {{- row.content -}}
      </li>
    {% endfor %}
  </ul>

</div>
