<section{{ attributes.addClass('mainSlider') }}>
  <div class="mainSlider__inner">

    {{ title_prefix }}
    {% if label %}
      <h2 class="visually-hidden">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {{ content }}


    <div class="mainSlider__nav">
      <div class="mainSlider__navInner">
        <button class="mainSlider__arrow mainSlider__arrow--prev"><span class="visually-hidden">Предыдущий слайд</span>
        </button>
        <div class="mainSlider__counter"><span class="mainSlider__current">1</span><span class="mainSlider__total">1</span>
        </div>
        <button class="mainSlider__arrow mainSlider__arrow--next"><span class="visually-hidden">Следующий слайд</span>
        </button>
      </div>
    </div>
  </div>

  <div class="mainSlider__cover mainSlider__cover--1"></div>
  <div class="mainSlider__cover mainSlider__cover--2"></div>
</section>
