{% set url_custom = content.field_link[0]['#url'] %}
{% set vimeo_id = node.field_vimeo.value|split('vimeo.com/')[1] %}
{#https://vimeo.com/331180494#}

<section{{ attributes.addClass('projectMainslider') }}>
  <div class="projectMainslider__img">

{#    <img src="./files/main-slider.jpg" alt="BTL Стратегия GATE7">#}
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{ vimeo_id }}?autoplay=1&loop=1&title=0&byline=0&sidedock=0&controls=0&background=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  <div class="projectMainslider__inner inner">
    <div class="projectMainslider__type">{{ content.field_main[0]['#title'] }}</div>

    {{ title_prefix }}
    <h3 class="projectMainslider__title">
      <a href="{{ url_custom }}">{{ label }}</a>
    </h3>
    {{ title_suffix }}

    <a class="projectMainslider__link" href="{{ url_custom }}">{{ content.field_link[0]['#title'] }}</a>
  </div>
</section>
