<div class="mainSlider__slider">
  <ul class="mainSlider__slides">

    {% for row in rows %}
      <li class="mainSlider__slide">
        {{- row.content -}}
      </li>
    {% endfor %}

  </ul>
</div>
