<address{{ attributes.addClass('footer__contacts') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% set phone = {
    label: content.field_phone['#title'],
    value: content.field_phone[0]['#title'],
    url: content.field_phone[0]['#url'],
  } %}

  {% set messengers = {
    label: content.field_messengers_phone['#title'],
    value: content.field_messengers_phone[0]['#title'],
    url: content.field_messengers_phone[0]['#url'],
  } %}

  {% set email = {
    label: content.field_email['#title'],
    value: content.field_email[0]['#title'],
    url: content.field_email[0]['#url'],
  } %}

  <div class="contact footer__contact">
    <div class="contact__label">{{ phone.label }}</div>
    <a class="contact__value" href="{{ phone.url }}">{{ phone.value }}</a>
  </div>
  <div class="contact footer__contact">
    <div class="contact__label">{{ messengers.label }}</div>
    <a class="contact__value" href="{{ messengers.url }}">{{ messengers.value }}</a>
  </div>
  <div class="contact footer__contact">
    <div class="contact__label">{{ email.label }}</div>
    <a class="contact__value" href="{{ email.url }} ">{{ email.value }}</a>
  </div>

</address>
