<div{{ attributes.addClass('footer__row') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="footer__col">
    <div class="footer__copyright">{{ content.body[0] }}</div>
  </div>
  <div class="footer__col">
    <a class="footer__policy" href="{{ content.field_link[0]['#url'] }}" target="_blank">{{ content.field_link[0]['#title'] }}</a>
  </div>
</div>
