{% if is_admin %}
  <div{{ attributes.addClass('socials') }}>
    {{ title_prefix }}
    {{ title_suffix }}
{% endif %}

<ul class="socials">
  {{ content }}
</ul>


{% if is_admin %}
  </div>
{% endif %}
