{% set attrs = create_attribute() %}
{% set attrs = attrs.addClass('footer__logo') %}
{% if content.field_external[0] is same as('Yes') %}
  {% set attrs = attrs.setAttribute('target', '_blank') %}
{% endif %}


  {% set url = content.field_url[0] %}
<a{{ attrs }} href="{{ url }}">
  {{ content.field_image[0] }}
</a>
