<h2 class="visually-hidden">Подвал сайта</h2>
<div class="footer__inner inner">


{#  {{ content }}#}

  <div class="footer__row">
    <div class="footer__col">

      {{ drupal_entity('block', 'logos_in_footer', check_access=false) }}
      {{ drupal_entity('block', 'contacts_footer_left', check_access=false) }}

    </div>

    <div class="footer__col footer__col--socials">
      {{ drupal_entity('block', 'contacts_footer_right', check_access=false) }}
    </div>

  </div>

  {{ drupal_entity('block', 'copyright', check_access=false) }}




</div>

<video src="/themes/premo/videos/footer-bg.mp4" class="footer__bg" playsinline muted autoplay loop poster="/themes/premo/build/images/bg-footer.jpg"></video>
