extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--error'];
    title = 'Ошибка 404'

block content
  // errorPage
  +b('errorPage')
    +e('inner')(class="inner")
      +e('title', '', 'h1')
        span 4
        span 0
        span 4
      +e('body', '', 'p') страница не найдена
      +e('link')(href="#0") на главную
