extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--about', 'page--blackHeader'];
    title = 'О нас'

block content
  include ../components/about/about-titer
  include ../components/awards/awards-about
  include ../components/clients/b-clients
  include ../components/team/b-team
  include ../components/about/jobs
  include ../components/about/company-content
  include ../components/about/books
