extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--achievement', 'page--blackHeader'];
    title = 'Награды'

block content
  include ../components/awards/b-awards-list
  include ../components/awards/b-awards-all
