extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--article', 'page--blackHeader', 'page--sidebar'];
    title = 'Статья блока'
    sidebar = true;

block content
  include ../components/blog/p-article
  include ../components/blog/b-comments

block sidebar
  include ../components/blog/sb-tags
  include ../components/blog/sb-last-blog
  include ../components/blog/b-subscribe--sb

