extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--base', 'page--blackHeader'];
    title = 'Базовая страница'
    sidebar = true;

block content
  // base-page
  +b('basePage', '', 'acticle')
    +e('inner')(class="inner")
      +e('title', '', 'h1')(class="pageTitle")
      +e('body')
        p Мероприятия могущественны.

        p Компании и люди делают мероприятия, когда в их жизни происходит что-то важное.

        p <strong>Offline to Online</strong>&nbsp;- наш подход к организации мероприятий.

        p

        p Он очень прост. Если правильно спланировать мероприятие, его охват может быть сопоставим с рекламной кампанией. То есть помимо эмоционального вовлечения людей, присутствовавших на мероприятии, вы сможете рассказать свою историю более широкой аудитории. У контента, вышедшего с мероприятия, есть множество преимуществ перед онлайн контентом, к которому мы все привыкли. Если кратко, то он менее рекламный и, соответственно, легче преодолевает барьеры восприятия.

        p

        p Нам кажется несправедливым, что компании тратят гигантские бюджеты на мероприятия, а в итоге то, что получилось, видят несколько тысяч или даже сотен человек. Мы уверены, что повышение эффективности рекламных бюджетов - хороший аргумент.

        p

        p Кажется, что это просто. Нужно сделать отчетное видео и выложить его в социальные сети. Увы, так это не работает. Людям не интересны отчетные видео, если их самих на этом мероприятии не было. Такой подход позволяет немного порекламировать ваше агентство, но не бренд.

        p
