extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--blog', 'page--blackHeader'];
    title = 'Блог'

block content
  include ../components/blog/blog-titer
  include ../components/blog/b-subscribe
  include ../components/blog/b-blog-list
