extend ../layout/layout.pug

block vars
  -
    body_classes = ['page--dev', 'page--blackHeader']
    title = 'Навигация для разрабочика'

block content
  -
    const links = [
    {
      section: 'Основные',
      links: [
        {
        link: 'index.html',
        img: '01_main',
        title: 'Главная',
        },
        {
        link: 'services.html',
        img: 'none',
        title: 'Услуги',
        },
        {
        link: 'service.html',
        img: '02_service',
        title: 'Услуга',
        },
        {
        link: 'project.html',
        img: '03_project',
        title: 'Проект',
        },
        {
        link: 'about.html',
        img: '04_about',
        title: 'О нас',
        },
        {
        link: 'achievement.html',
        img: '05_achivements',
        title: 'Награды',
        },
        {
        link: 'blog.html',
        img: '06_blog',
        title: 'Блог',
        },
        {
        link: 'article.html',
        img: '07_article',
        title: 'Статья блога',
        },
        {
        link: 'contacts.html',
        img: '08_contacts',
        title: 'Контакты',
        },
        {
        link: '404.html',
        img: '09_404',
        title: '404',
        },
        {
        link: 'faq.html',
        img: '10_faq',
        title: 'FAQ',
        },
      ]
    },

    ]

  // devNav
  +b('devNav', '', 'section')
    +e('inner')(class="inner")
      +e('heading', '', 'h1')(class="pageTitle") Навигация для разработчика
      for j in links
        +e('subtitle', '', 'h2') !{j.section}
        +e('list', '', 'ul')
          for i in j.links
            +e('item')
              +e('link')(href=i.link target="_blank")
                - const img = `./files/dev-preview/${i.img}.jpg`
                +e('image', '', 'div'): img(src=img alt="")
                +e('title')= i.title
                +e('url')= i.link
