extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--faq', 'page--blackHeader'];
    title = 'Вопросы-ответы'

block content
  -
    const faq = [
    {
      title: 'Как стать поставщиком/подрядчиком вашего агентства?',
      body: 'Мы являемся один из крупнейших на рынке агентств, входим в ТОП-50 event-агентств мира. В связи с этим наши интересы обширны и необычны. Если вы хотите стать новым поставщиком Eventum Premo, необходимо прислать описание/презентацию вашей услуги/продукта на offer@eventum-premo.ru',
    },
    {
      title: 'Как почитать отзывы Клиентов об Eventum Premo?',
      body: 'Мы являемся один из крупнейших на рынке агентств, входим в ТОП-50 event-агентств мира. В связи с этим наши интересы обширны и необычны. Если вы хотите стать новым поставщиком Eventum Premo, необходимо прислать описание/презентацию вашей услуги/продукта на offer@eventum-premo.ru',
    },
    {
      title: 'Инновации и достижения',
      body: 'Мы являемся один из крупнейших на рынке агентств, входим в ТОП-50 event-агентств мира. В связи с этим наши интересы обширны и необычны. Если вы хотите стать новым поставщиком Eventum Premo, необходимо прислать описание/презентацию вашей услуги/продукта на offer@eventum-premo.ru',
    },
    {
      title: 'Экологическая политика Eventum Premo',
      body: 'Мы являемся один из крупнейших на рынке агентств, входим в ТОП-50 event-агентств мира. В связи с этим наши интересы обширны и необычны. Если вы хотите стать новым поставщиком Eventum Premo, необходимо прислать описание/презентацию вашей услуги/продукта на offer@eventum-premo.ru',
    },
    {
      title: 'Реквизиты',
      body: 'Мы являемся один из крупнейших на рынке агентств, входим в ТОП-50 event-агентств мира. В связи с этим наши интересы обширны и необычны. Если вы хотите стать новым поставщиком Eventum Premo, необходимо прислать описание/презентацию вашей услуги/продукта на offer@eventum-premo.ru',
    },
    {
      title: 'Миссия',
      body: 'Мы являемся один из крупнейших на рынке агентств, входим в ТОП-50 event-агентств мира. В связи с этим наши интересы обширны и необычны. Если вы хотите стать новым поставщиком Eventum Premo, необходимо прислать описание/презентацию вашей услуги/продукта на offer@eventum-premo.ru',
    },
    {
      title: '5 причин по которым нас выбирают',
      body: 'Мы являемся один из крупнейших на рынке агентств, входим в ТОП-50 event-агентств мира. В связи с этим наши интересы обширны и необычны. Если вы хотите стать новым поставщиком Eventum Premo, необходимо прислать описание/презентацию вашей услуги/продукта на offer@eventum-premo.ru',
    },
    ]

  // faq
  +b('b-faq', '', 'section')
    +e('inner')(class="inner")
      +e('heading', '', 'h1')(class="pageTitle") Вопросы

      +e('list', '', 'ul')
        for i in faq
          +e('item')
            +faq(i)
    +e('bg')
