extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--front'];
    title = 'Главная'

block content
  include ../components/mainSlider
  include ../components/ticker
  include ../components/about/b-about
  include ../components/showreel
  include ../components/services/b-services
  include ../components/projects/b-projects
  include ../components/awards/b-awards
  include ../components/form/b-form--project

