extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--project', 'page--blackHeader'];
    title = 'Проект'

block content
  include ../components/projects/project-titer
  include ../components/projects/text-block--project
  include ../components/projects/showreel--project
  include ../components/projects/text-block--project2
  include ../components/projects/project-gallery
  include ../components/projects/text-block--project3
  include ../components/awards/b-awards-case
  include ../components/projects/project-other

