extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--service, page--blackHeader'];
    title = 'Услуги'

block content
  -
    const data = {
      img: './files/services/services-event.jpg',
      title: 'Event'
    }

  +b('listingPage')
    +e('inner')(class="inner")
      +e('title', '', 'h1')(class="pageTitle") Услуги
      +e('list', '', 'ul')
        for i in Array(4)
          +e('item')
            +service-card(data)
