extend ../layout/layout.pug

block vars
  -
    path = null
    body_classes = ['page--service'];
    title = 'Услуга'

block content
  include ../components/services/showreel-service
  include ../components/services/text-block--service
  include ../components/projects/b-projects--services
  include ../components/form/b-form--project
