<section class="b-services" {{ attributes }}>
  <div class="b-services__decorText" data-text="Event Event Event Event">Event Event Event Event</div>
  <div class="b-services__inner inner">

    {{ title_prefix }}
    {% if label %}
      <h2 class="b-services__heading blockTitle">Услуги</h2>
    {% endif %}
    {{ title_suffix }}

    <div class="tabs b-services__tabs" data-tabs-name="services">

      <div class="tabs__scroll b-services__scroll">
        <div class="tabs__nav b-services__nav">
          {% for tab in content.tabs %}
            <div class="tabs__tab b-services__tab" role="button">{{ tab|raw }}</div>
          {% endfor %}
          <a href="//deep.click" target="_blank" class="b-services__deep" role="button"><svg width="145" height="62" viewBox="0 0 145 62" xmlns="http://www.w3.org/2000/svg"><path d="M92.5 13.5c-4.8 0-8.6 1.6-11.5 4.7a18.2 18.2 0 0 0-4.2 12.7c0 5.3 1.4 9.6 4.2 12.7 2.8 3.2 6.6 4.8 11.5 4.8a15 15 0 0 0 11.6-5.1l-4.5-4.6c-1.9 2-4.4 3-7 3-2.1.1-4.1-.6-5.6-2a10.7 10.7 0 0 1-2.9-5.8h22.4c.2-1.6.2-3 .2-4.6 0-5.2-1.3-9.1-4-11.8a13.8 13.8 0 0 0-10.2-4zm-8.5 14a9 9 0 0 1 2.8-5.4c1.6-1.4 3.6-2.1 5.7-2 1.7 0 3.4.6 4.7 1.9a8.4 8.4 0 0 1 2.2 5.5H84zM22.4 16.7c-2-2.1-4.7-3.2-8.2-3.2-4-.1-7.7 1.6-10.3 4.7C1.3 21.3 0 25.6 0 31c0 5.5 1.3 9.8 3.8 12.9 2.6 3 6.1 4.6 10.6 4.6 1.7 0 3.3-.3 4.8-1a8 8 0 0 0 3.2-2.4v2.6h7.4V0l-7.4 7.5v9.2zm0 21.3c-1.4 2.1-3.7 3.2-7 3.2a7 7 0 0 1-5.9-2.8 12.4 12.4 0 0 1-2-7.5c0-3.3.6-5.8 2-7.6a7 7 0 0 1 5.8-2.7c3.2 0 5.5 1.1 7 3.3v14zM141 18a13 13 0 0 0-10.5-4.6c-3-.1-6 1.1-8 3.3v-2.5h-7.4V62l7.4-7.5v-9.6c2 2.4 5 3.6 8.1 3.5a13 13 0 0 0 10.3-4.7 19 19 0 0 0 4-12.7c0-5.5-1.3-9.8-3.9-12.9zm-5.6 20.5a7 7 0 0 1-5.9 2.6 8 8 0 0 1-7-3.3v-14a7.9 7.9 0 0 1 7-3.3 7 7 0 0 1 5.9 2.8c1.5 2.2 2.2 4.9 2 7.6 0 3.3-.6 5.8-2 7.6zM54 13.6c-4.8 0-8.6 1.5-11.4 4.6a18.3 18.3 0 0 0-4.3 12.7c0 5.3 1.4 9.6 4.2 12.7 2.9 3.2 6.7 4.8 11.5 4.8a15 15 0 0 0 11.7-5.1L61 38.7c-1.8 2-4.3 3-7 3-2 .1-4-.7-5.6-2.1a10.7 10.7 0 0 1-2.8-5.8H68l.3-4.5c0-5.2-1.4-9.1-4-11.8a13.8 13.8 0 0 0-10.3-4zm-8.4 13.9a9 9 0 0 1 2.7-5.4C50 20.7 52 20 54 20c1.7 0 3.4.6 4.7 1.9a8.3 8.3 0 0 1 2.3 5.5H45.6z" fill="#a9103d" fill-rule="nonzero"/></svg></a>
        </div>
      </div>


      {{ content.field_paragraphs }}

    </div>
  </div>
</section>
