<article{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <section class="showreel showreel--service">
    <div class="showreel__inner">
      <h2 class="showreel__heading blockTitle">{{ label[0] }}</h2>

      <div class="showreel__main">

        <video class="showreel__video" src="{{ content.field_video[0] }}" preload playsinline {#poster="{{ content.field_image[0] }}"#} autoplay muted loop></video>

        <button class="showreel__volume">
          <span class="visually-hidden">{{ 'Включить/выключить звук'|t }}</span>
        </button>
      </div>

    </div>
  </section>

  <section class="textBlock textBlock--service">
    <div class="textBlock__inner inner">
      <div class="textBlock__body">
        {{ content.body[0] }}
      </div>
    </div>
  </section>

</article>



