<article{{ attributes.addClass('serviceCard') }}>
  <a class="serviceCard__link" href="{{ url }}">
    <div class="serviceCard__img">
      {{ content.field_image }}
    </div>
    <div class="serviceCard__cnt">
      <div class="serviceCard__bottom">
        {{ title_prefix }}
        <h2 class="serviceCard__title">{{ label[0] }}</h2>
        {{ title_suffix }}
        <div class="serviceCard__more">{{ 'Подробнее'|t }}</div>
      </div>
    </div>
  </a>
</article>
