<section class="servicesTeaser" {{ attributes }}>
  <h3 class="visually-hidden">{{ content.field_title[0] }} услуги</h3>
  <div class="servicesTeaser__img">
    <video src="{{ content.field_video[0] }}" alt="Event" playsinline autoplay muted loop></video>
  </div>
  <div class="servicesTeaser__body">{{ content.field_body[0] }}</div>
  {{ content|without('field_title', 'field_video', 'field_body') }}
</section>
