{%
  set classes = [
  'listingPage',
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="listingPage__inner inner">

    {{ title_prefix }}
    <h1 class="listingPage__title pageTitle">{{ view_array['#title'] }}</h1>
    {{ title_suffix }}

    <ul class="listingPage__list">

      {% if rows -%}
        {{ rows }}
      {% elseif empty -%}
        {{ empty }}
      {% endif %}

    </ul>
  </div>
</div>
