-
  let content = [
  {
    type: 'event',
    title: 'BTL Стратегия GATE7',
    img: '',
  },
  {
    type: 'event',
    title: 'BTL Стратегия GATE7',
    img: '',
  },
  {
    type: 'event',
    title: 'BTL Стратегия GATE7',
    img: '',
  },
  {
    type: 'event',
    title: 'BTL Стратегия GATE7',
    img: '',
  },
  {
    type: 'event',
    title: 'BTL Стратегия GATE7',
    img: '',
  },
  ]

// mainSlider
+b('mainSlider', '', 'section')
  +e('inner')
    h2.visually-hidden Основные проекты
    +e('slider')
      +e('slides', '', 'ul')
        for i in content
          +e('slide')
            +project--mainslider(i.type, i.title, './files/main-slider.jpg')

    +e('nav')
      +e('navInner')
        +e('arrow', 'prev', 'button'): span.visually-hidden Предыдущий слайд
        +e('counter')
          +e('current', '', 'span') 1
          +e('total', '', 'span') 1
        +e('arrow', 'next', 'button'): span.visually-hidden Следующий слайд
