// pager
+b('pager')
  +e('list', '', 'ul')
    +e('item'): +e('link', 'active', 'a') 1
    +e('item'): +e('link', '', 'a') 2
    +e('item'): +e('link', '', 'a') 3
    +e('item'): +e('link', 'ellipsis', 'span') ...
    +e('item'): +e('link', '', 'a') 25
