// showreel
+b('showreel', '', 'section')
  +e('inner')
    +e('heading', '', 'h2')(class="blockTitle") Showreel
    +e('main')
      +e('video', '', 'video')(src="./files/showreel.mp4" preload poster="./files/showreel.jpg" autoplay muted loop)
      +e('volume', '', 'button'): span.visually-hidden Включить/выключить звук
