// footer
+b('footer', '', 'footer')
  h2.visually-hidden Подвал сайта
  +e('inner')(class="inner")
    +e('row')
      +e('col')
        +e('logos')
          +e('logo', '', 'a')(href="#0"): img(src="./files/ep-logo-full.svg" alt="Логотип Eventum Premo (event/pr/digital)")
          +e('logo', '', 'a')(href="#0" target="_blank"): img(src="./files/deep-logo.svg" alt="Логотип Deep (creative / digital")
          +e('logo', '', 'a')(href="#0" target="_blank"): img(src="./files/rema-logo.svg" alt="Логотип REMA")

        +e('contacts', '', 'address')
          +b('contact', {e: 'footer'})
            +e('label') Phone
            +e('value', '', 'a')(href="tel:+74957858446") +7 495 78 58 446
          +b('contact', {e: 'footer'})
            +e('label') WhatsApp, Telegram
            +e('value', '', 'a')(href="tel:+79995555149") +7 (999) 5555 149
          +b('contact', {e: 'footer'})
            +e('label') E-mail
            +e('value', '', 'a')(href="mailto:go@eventum-premo.ru ") go@eventum-premo.ru

      +e('col', 'socials')
        +b('socials', '', 'ul')
          +e('item')
            +e('link', '', 'a')(href="#0" target="_blank") Facebook
          +e('item')
            +e('link', '', 'a')(href="#0" target="_blank") Telegram
          +e('item')
            +e('link', '', 'a')(href="#0" target="_blank") Instagram
          +e('item')
            +e('link', '', 'a')(href="#0" target="_blank") Pinterest
          +e('item')
            +e('link', '', 'a')(href="#0" target="_blank") Vimeo
          +e('item')
            +e('link', '', 'a')(href="#0" target="_blank") Behance
          +e('item')
            +e('link', '', 'a')(href="#0" target="_blank") YouTube


    +e('row')
      +e('col')
        +e('copyright') © 2003-2019 Eventum Premo. Moscow
      +e('col')
        +e('policy', '', 'a')(href="#0" target="_blank") Политика конфиденциальности
