// header
+b('header', '', 'header')
  +e('inner')
    +e('heading', '', 'h2')(class="visually-hidden") Шапка сайта

    +e('logo', '', 'a')(href="index.html"): include ../../files/logo.svg
    +e('menu', '', 'button')(class="menuModal__button"): span.visually-hidden Открыть меню
