doctype html


include ../../../node_modules/bempug/index
include ../helpers/mixins

-
  let body_classes = ['front'];
  let sidebar = false;
  const css = [
  './css/styles.css?' + Math.floor(Math.random() * 1000)
  ];
  const js = [
    'https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/easing/EasePack.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js',
    'https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/ScrollToPlugin.min.js',
  './js/build.js?' + Math.floor(Math.random() * 1000),
  ];

block vars


html

  head
    title Eventum Premo | !{title}
    link(rel="shortcut icon" href="./files/favicon.ico" type="image/vnd.microsoft.icon")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    for i in css
      link(rel="stylesheet" href=i)





  +b('page', {}, 'body')(class=body_classes)
    +e('layout')

      include header

      +e('row')
        +e('main', {}, 'main')
          block content

        if sidebar
          +e('sidebar', '', 'aside')
            block sidebar

      include footer

    include ../components/menu/menuModal
    block under-footer

    for i in js
      script(type="text/javascript" src=i)
