// p-contacts
+b('p-contacts', '', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h1')(class="pageTitle") Контакты

    +e('cnt', '', 'address')
      +e('row', 'address')
        +e('address', '', 'p') 105082, Москва, Спартаковский пер. 2 с. 1 БЦ «ПЛАТФОРМА» (2-й подъезд, 4 этаж)
        +e('addressLink')(href="#0" target="_blank") как добраться

      +e('row', 'phoneMail')
        +e('item')
          +e('label') Phone
          +e('value'): a(href="tel:+74957858446") +7 495 78 58 446
        +e('item')
          +e('label') WhatsApp, Telegram
          +e('value'): a(href="tel:+79995555149") +7 (999) 5555 149
        +e('item')
          +e('label') E-mail
          +e('value'): a(href="mailto:go@eventum-premo.ru ") go@eventum-premo.ru

      +e('row', 'social')
        +e('item')
          +e('social')(href="#0" target="_blank") Vimeo
        +e('item')
          +e('social')(href="#0" target="_blank") YouTube

  +e('decorText') Eventum Premo
  +e('bg', '', 'video')(src="./files/contacts-bg.mp4" autoplay muted loop)
