<section{{ attributes.addClass('b-clients') }}>
  <div class="b-clients__inner inner">

    {{ title_prefix }}
    {% if label %}
      <h2 class="b-clients__heading blockTitle">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {{ content }}

  </div>
</section>
