<section{{ attributes.addClass('awardsAbout') }}>
  <div class="awardsAbout__inner inner">

    {{ title_prefix }}
    {% if label %}
      <h2 class="visually-hidden">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    <div class="awardsAbout__row">
      {{ content.field_paragraphs }}
    </div>

    <div class="awardsAbout__row awardsAbout__row--links">
      <div class="awardsAbout__item">
        <a class="awardsAbout__link" href="{{ content.field_link[0]['#url'] }}">{{ content.field_link[0]['#title'] }}</a>
      </div>
      <div class="awardsAbout__item">
        <a class="awardsAbout__link" href="/node/996">{{ 'Манифест'|t }}</a>
      </div>
    </div>


  </div>

  <video class="awardsAbout__video" src="{{ content.field_video[0] }}" poster="/themes/premo/build/images/bg-awards-about.png" playsinline muted autoplay loop></video>
</section>
