<section{{ attributes.addClass('jobs') }}>


  <div class="jobs__inner inner">
    <div class="jobs__image">
      {{ content.field_image[0] }}
    </div>
    <div class="jobs__main">

      {{ title_prefix }}
      {% if label %}
        <h2 class="jobs__heading blockTitle">{{ label }}</h2>
      {% endif %}
      {{ title_suffix }}

      <div class="jobs__body">
       {{ content.body[0] }}
      </div>

      <div class="jobs__mail">
        {{ content.field_email[0] }}
      </div>

      {{ content.field_hh_links }}

    </div>
  </div>
</section>
