<div class="ticker">
  <div class="ticker__inner">{{ content.field_ticker[0] }}</div>
</div>

<section class="b-about" {{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="b-about__inner inner">
    <h1 class="visually-hidden">Eventum Premo — маркетинговое и event-агенство в Москве</h1>
    <div class="b-about__body">{{ content.body[0] }}</div>

    {{ content|without('body', 'field_ticker') }}

    <div class="b-about__img">
      <div class="b-about__img1"></div>
      <div class="b-about__img2"></div>
    </div>

    {#<svg class="b-about__img" width="269" height="270" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="b-about__img1" fill-rule="evenodd" clip-rule="evenodd"
            d="M0 152.722h38.588a76.113 76.113 0 0 0 76.111-76.111A76.11 76.11 0 0 0 38.588.5H0v37.833h38.588a38.278 38.278 0 1 1 0 76.556H0v37.833zm154.314 37.771h37.832V269.5h-37.832v-79.007zm38.575-37.771h-38.575v-37.833h38.575a38.28 38.28 0 0 0 27.067-65.345 38.28 38.28 0 0 0-27.067-11.211h-38.575V.5h38.575a76.112 76.112 0 0 1 53.819 129.93 76.115 76.115 0 0 1-53.819 22.292zM0 269.5h38.588a76.512 76.512 0 0 0 65.703-37.783l-32.648-19.133a38.525 38.525 0 0 1-33.055 19.083H0V269.5z"
            fill="#A40630"/>
      <mask id="a" maskUnits="userSpaceOnUse" x="0" y="0" width="269" height="270">
        <path class="b-about__img2" fill-rule="evenodd" clip-rule="evenodd"
              d="M0 152.722h38.588a76.113 76.113 0 0 0 76.111-76.111A76.11 76.11 0 0 0 38.588.5H0v37.833h38.588a38.278 38.278 0 1 1 0 76.556H0v37.833zm154.314 37.771h37.832V269.5h-37.832v-79.007zm38.575-37.771h-38.575v-37.833h38.575a38.28 38.28 0 0 0 27.067-65.345 38.28 38.28 0 0 0-27.067-11.211h-38.575V.5h38.575a76.112 76.112 0 0 1 53.819 129.93 76.115 76.115 0 0 1-53.819 22.292zM0 269.5h38.588a76.512 76.512 0 0 0 65.703-37.783l-32.648-19.133a38.525 38.525 0 0 1-33.055 19.083H0V269.5z"
              fill="url(#paint0_linear)"/>
      </mask>
      <defs>
        <linearGradient id="paint0_linear" y1="147.232" x2="251.232" y2="-17.841" gradientUnits="userSpaceOnUse">
          <stop stop-color="#A40630"/>
          <stop offset="1" stop-color="#9A9A9A"/>
        </linearGradient>
      </defs>
    </svg>#}

  </div>
</section>
