<section{{ attributes.addClass('companyContent') }}>
  <div class="companyContent__inner">

    {{ title_prefix }}
    {% if label %}
      <h2 class="companyContent__heading blockTitle">{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {{ content }}

  </div>
</section>
