<section{{ attributes.addClass('aboutTiter') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <h1 class="visually-hidden">{{ label }}</h1>

  <div class="aboutTiter__heading ticker">
    <div class="ticker__inner">{{ content.field_ticker[0] }} {{ content.field_ticker[0] }} {{ content.field_ticker[0] }}</div>
  </div>
  <div class="aboutTiter__inner inner">
    <div class="aboutTiter__body">
      {{ content.body[0] }}
    </div>
  </div>
</section>
