<section{{ attributes.addClass('books') }}>
  {{ title_prefix }}
  {{ title_suffix }}


  <div class="books__inner inner">

    {% if label %}
      <h2 class="books__heading blockTitle">{{ label }}</h2>
    {% endif %}

    {{ content }}

  </div>
</section>
