<section>
  {{ title_prefix }}
  {{ title_suffix }}
  <a class="companyContent__image" href="{{ node.field_file.value }}" target="_blank">
    {{ content.field_image[0] }}
  </a>
  <h3 class="companyContent__title">
    <a href="{{ node.field_file.value }}" target="_blank">{{ label[0] }}</a>
  </h3>
</section>
