{% set external_url = content.field_link[0]['#url'] %}

<article{{ attributes.addClass('books__card') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <a class="books__img" href="{{ external_url }}" target="_blank">
    {{ content.field_image[0] }}
  </a>

  <h3>
    <a class="books__title" href="{{ external_url }}" target="_blank">{{ label }} <time class="books__date" datetime="{{ node.field_year.value|split(' ')[0] }}">{{ content.field_year[0] }}</time>
    </a>
  </h3>

</article>
