<section{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="b-team__image">
    {{ content.field_image[0] }}
  </div>
  <div class="b-team__name">{{ label[0] }}</div>
  <div class="b-team__post">{{ content.field_post[0] }}</div>

</section>
