{% if is_admin %}
<div{{ attributes }}>
{% endif %}

<div class="awardsAbout__rating">
  {{ content.field_image[0] }}
</div>
<div class="awardsAbout__place">{{ content.field_big_text[0] }}</div>
<div class="awardsAbout__text">{{ content.field_title[0] }}</div>

{% if is_admin %}
  </div>
{% endif %}
