<div class="companyContent__wrp">
  <div class="companyContent__scroll">
    <ul class="companyContent__list">
      {% for row in rows %}
        <li class="companyContent__item">
          {{- row.content -}}
        </li>
      {% endfor %}
    </ul>

    <button class="companyContent__arrow companyContent__arrow--prev"></button>
    <button class="companyContent__arrow companyContent__arrow--next"></button>
  </div>
</div>

