mixin project--mainslider(type, title, img)
  // mixin project--mainslider
  +b('projectMainslider', '', 'section')
    +e('img'): img(src=img alt=title)
    +e('inner')(class="inner")
      +e('type') !{type}
      +e('title', '', 'h3'): a(href="#0") !{title}
      +e('link', '', 'a')(href="#0") смотреть кейс

mixin services-teaser(title, img, body)
  // mixin services-teaser
  - links = links || [];
  +b('servicesTeaser', '', 'section')
    h3.visually-hidden !{title}projectCard
    +e('img'): video(src=img alt=title autoplay muted loop)

    +e('body') !{body}

mixin project-card(data)
  // mixin project-card
  -
    img = `./files/projects/${data.img}`
    logo = `./files/projects/logos/${data.logo}`
  +b('projectCard', '', 'article')
    +e('link')(href="#0")
      +e('img', '', 'div'): img(src=img alt=data.title)
      +e('cnt', '', 'div')
        +e('logo'): img(src=logo alt="Логотип")
        +e('bottom')
          +e('title', '', 'h3') !{data.title}
          +e('more') Подробнее

mixin service-card(data)
  // mixin service-card
  +b('serviceCard', '', 'article')
    +e('link')(href="#0")
      +e('img', '', 'div'): img(src=data.img alt=data.title)
      +e('cnt', '', 'div')
        +e('bottom')
          +e('title', '', 'h2') !{data.title}
          +e('more') Подробнее


mixin project-teaser(items)
  // mixin project-teaser
  +b('projectTeaser', '', 'section')
    +e('list', '', 'ul')
      for i in items
        +e('item')
          +project-card(i)
    //-
      +e('nav')
        +e('navInner')
          +e('arrow', 'prev', 'button'): span.visually-hidden Предыдущий слайд
          +e('counter')
            +e('current', '', 'span') 1
            +e('total', '', 'span') 5
          +e('arrow', 'next', 'button'): span.visually-hidden Следующий слайд

mixin blog-card(data)
  // mixin blog-card
  +b('blogCard', '', 'article')
    - const img = `./files/blog/${data.img}`
    +e('image')(href="#0"): img(src=img alt="")

    +e('cnt')
      +e('tags', '', 'ul')
        for tag in data.tags
          +e('tag'): a(href="#0")= tag

      +e('title', '', 'h3'): a(href="#0")= data.title
      if data.body
        +e('body') !{data.body}

      +e('link')(href="#0"): span.visually-hidden Подробнее

mixin comment(data)
  // mixin comment
  +b('comment', '', 'section')
    +e('header', '', 'header')
      +e('name')= data.name
      +e('date')= data.date

    +e('body') !{data.body}

mixin blog-card-sb(data)
  // mixin blog-card-sb
  +b('blockCardSb', '', 'article')
    - const img = `./files/blog/${data.img}`
    +e('image')(href="#0"): img(src=img alt="")
    +e('title', '', 'h3'): a(href="#0")= data.title


mixin faq(data)
  // mixin faq
  +b('faq', '', 'div')
    +e('title') !{data.title}
    +e('content') !{data.body}
