-
  const blog = [
  {
    img: 'blog-01.jpg',
    title: 'Проект для Концерна «Калашников»',
    body: 'Один из самых знаменитых экспортных брендов России!<br> Мы городимся, что сделали для них проект!',
    date: '',
    tags: ['event marketing']
  },
  {
    img: 'blog-02.jpg',
    title: 'Бизнес-завтрак «Летние фестивали и спонсорские интеграции»',
    date: '',
    tags: ['event marketing']
  },
  {
    img: 'blog-03.jpg',
    title: 'Бизнес-завтрак «Тренды рынка мероприятий»',
    date: '',
    tags: ['event marketing']
  },
  {
    img: 'blog-04.jpg',
    title: 'Перфекционизм',
    body: 'Когда говорят «Делать нужно хорошо или никак», предполагается что это говорит перфекционист.',
    date: '',
    tags: ['event marketing']
  },
  ]

// b-blog-list
+b('b-blogList', '', 'section')
  +e('inner')(class="inner")
    h2.visually-hidden Список статей блога

    +e('list', '', 'ul')
      for i in blog
        +e('item')
          +blog-card(i)
