-
  const comments = [
  {
    name: 'Константин',
    date: 'Вчера 15:29',
    body: 'Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве веб-сайтов, пока финальный текст еще не создан.',
  },
  {
    name: 'Анна',
    date: 'Вчера 15:29',
    body: 'Рыбным текстом называется текст, служащий для временного наполнения макета в публикациях или производстве.',
  },
  ]

// b-comments
+b('b-comments', '', 'section')
  +e('header', '', 'header')
    +e('heading', '', 'h2') Комментарии
    +e('num') 2
    +e('link'): a(href="#0") Написать комментарий

  +e('list', '', 'ul')
    for i in comments
      +e('item')
        +comment(i)
