// b-subscribe
+b('b-subscribe', 'sb', 'section')
  +e('inner')(class="inner")
    h2.visually-hidden Подписаться на обновления

    +e('subscribe'): include ../form/form--subscribe

    +e('author')(href="#0") Стать автором
