// p-article
+b('p-article', '', 'article')
  +e('header', '', 'header')
    +e('bc'): include bc
    +e('tags', '', 'ul')
      +e('tag'): a(href="#0") event marketing
    +e('heading', '', 'h1') Недвижимость: погружение в маркетинг
    +e('views') 2 631

  +e('image'): img(src="./files/blog/article.jpg" alt="")

  +e('body')
    p При разработке кампаний мы всегда стремимся к максимальному соответствию креатива и стоящих бизнес и коммуникационных задач. Для этого часто приходится глубоко погружаться в индустрию клиента, и двигаться к кредитивному решению непосредственно от его продукта. И в этот момент начинаешь понимать, насколько разные маркетинговые возможности (и ограничения, чего уж там) у разных категорий продуктов.

    p Поэтому каждый квартал мы стали проводить исследования разных категорий продуктов. Общаться с аудиторией, экспертами и находить новые решения. Мы уже исследовали вдоль и поперек такой продукт, как автомобиль, банковская карта и смартфон. Настала очередь чего-то более весомого, поэтому сегодняшний материал - про недвижимость.

    p Когда впервые начинаешь погружаться в процессы маркетинга недвижимости, почти сразу осознаешь, что столкнулся с продуктом другой природы. По стоимости, использованию, процессу выбора и приобретения, драйверам и барьерам — почти в любом отношении объекты недвижимости отличаются от всех других типов продуктов.

    h2 1. Price is a lie

    p
      | Начнем с одного из фундаментальных свойств любого продукта — его стоимости.
      br
      | Я привык, что стоимость у продуктов известна. Например, я знаю, что Биг Мак стоит 130 рублей, iPhone XS — от 999$, а сырок Б.Ю. Александров — три горшочка с золотом и полцарства.
      br
      | Но уже в первом разговоре с экспертом оказывается, что на рынке недвижимости один из самых непрозрачных процессов ценообразования. И стоимость объекта — это не определенная заранее сумма, за которую риелтор смог ее продать.
      br
      | Эту же мысль можно прочитать по-другому: «На рынке недвижимости одни из самых больших возможностей влияния на маржу». И это уже звучит как вызов для любого маркетолога.

    p Как известно, есть два стула пути увеличить маржу: сокращение издержек и повышение «willing-to-pay». В случае с индустрией недвижимости про первый рекомендую сразу забыть — им и так нелегко в пору перехода на проектное финансирование. Остается наращивать «willing-to-pay». А делать это можно только одним способом — создавать и наращивать эмоциональную ценность продукта.

    p
      | Получается, для повышения маржи достаточно выделять часть маркетингового бюджета на построение бренда жилого комплекса среди целевой аудитории?
      br
      | Да, но не совсем.


    h2 2. Легкомысленность и отвага

    p
      | Начнем с одного из фундаментальных свойств любого продукта — его стоимости.
      br
      | Я привык, что стоимость у продуктов известна. Например, я знаю, что Биг Мак стоит 130 рублей, iPhone XS — от 999$, а сырок Б.Ю. Александров — три горшочка с золотом и полцарства.
      br
      | Но уже в первом разговоре с экспертом оказывается, что на рынке недвижимости один из самых непрозрачных процессов ценообразования. И стоимость объекта — это не определенная заранее сумма, за которую риелтор смог ее продать.
      br
      | Эту же мысль можно прочитать по-другому: «На рынке недвижимости одни из самых больших возможностей влияния на маржу». И это уже звучит как вызов для любого маркетолога.

    p Как известно, есть два стула пути увеличить маржу: сокращение издержек и повышение «willing-to-pay». В случае с индустрией недвижимости про первый рекомендую сразу забыть — им и так нелегко в пору перехода на проектное финансирование. Остается наращивать «willing-to-pay». А делать это можно только одним способом — создавать и наращивать эмоциональную ценность продукта.

    p
      | Получается, для повышения маржи достаточно выделять часть маркетингового бюджета на построение бренда жилого комплекса среди целевой аудитории?
      br
      | Да, но не совсем.


    h2 3. Создать бренд за 90 дней

    p Сегодня почти все крупные застройщики в параллель с лидогенерационной кампанией запускают имиджевую. Как правило, они рассчитаны на широкую аудиторию, и хорошо работают на охват. Но за несколько контактов с пользователями построить бренд и нарастить эмоциональную ценность они не способны.

    p Вспомним, как BMW наращивал свою эмоциональную ценность в глазах Васи. В течение 20 лет он видел бренд в журналах, газетах, видеорекламе и кинофильмах. А еще — в наклейках от жвачек, на билбордах и в автогонках. И, конечно, вживую — на улицах города. С Васей за это время было осуществлено огромное количество разнообразных контактов.

    p
      | А существуют ли прецеденты построения сильной эмоциональной связи с потребителем за 3 месяца? Да такой, чтобы она могла повлиять на принятие решения о покупке дорогостоящего продукта?
      br
      | Есть. Например, сериалы. Если домохозяйка начнет смотреть каждый день хорошо снятый и сыгранный сериал для домохозяек, то уже через две-три недели его герои приобретут для нее большую эмоциональную ценность, чем любимая сумка или даже британский кот Вениамин.

    p Получается, если какой-то вид кампаний и способен за короткое время нарастить эмоциональную ценность, то он обладает следующими свойствами:

    ol
      li Из последовательных контактов связывается цельная история
      li Таргетирован / не рассчитан на широкую аудиторию
      li Предполагает большое количество контактов с каждым представителем ЦА


    h2 4. Фокусные кампании

    p Для продуктов FMCG-сегмента рентабельная стоимость привлеченного клиента редко превысит несколько десятков рублей, для CE и автомобильного — несколько сотен. А вот средняя стоимость одного привлеченного покупателя квартиры в новостройке перевалила за 40 тысяч рублей еще 3 года назад.

    p Получается, если говорить об узкотаргетированных кампаниях, то сумма в несколько десятков тысяч рублей на клиента легко оказывается рентабельной, а застройщики/девелоперы — единственными, кто способен запускать фокусные кампании.

    p Что же это такое? Фокусная кампания — это коммуникационная активность, направленная на создание эмоциональной ценности у целевых групп с наивысшей предиктивной конверсией. Как правило, рассчитана на сроки от 1 до 3 месяцев.

    p Для интеграции фокусных промоактивностей в общую рекламную стратегию следует на этапе ее разработки подробно сегментировать аудиторию. Далее — выделить и провести профилирование сегментов с наивысшей предиктивной конверсией (независимо от их объема), и оценить рентабельную стоимость фокусных лидов.

    p Важно встраиваться в процесс до начала разработки основной креативной концепции, ведь наивысшая предиктивная конверсия может определить группы, совсем не похожие на ядро целевой аудитории.

    p Если все сделать правильно, на выходе у вас получится кампания, которая за ограниченное время последовательно провзаимодействует с каждым из ключевых представителей целевой аудитории, выстраивая в их умах бренд ЖК.

    p Такая кампания не будет работать на охват, зато сможет «физически» поддерживать лидогенерацию, повышая отклик, стоимость закрытия сделки и снижая среднюю стоимость лидов в разрезе всей рекламной кампании.

  +e('footer', '', 'footer')
    +e('author')
      +e('authorLabel') Автор
      +e('authorValue') Денис Комиссаров / Управляющий директор <a href="#0">deep creative digital agency</a>

    +e('bottomRow')
      +e('share'): include share
      +e('clap')
        +e('clapButton', '', 'button'): span.visually-hidden Похловать
        +e('clapNum') 420
