-
  const lastBlog = [
  {
    img: 'blog-01.jpg',
    title: 'Проект для Концерна «Калашников»'
  },
  {
    img: 'blog-02.jpg',
    title: 'Бизнес-завтрак «Летние фестивали и спонсорские интеграции»'
  },
  {
    img: 'blog-03.jpg',
    title: 'Бизнес-завтрак «Тренды рынка мероприятий»'
  },
  {
    img: 'blog-04.jpg',
    title: 'Перфекционизм'
  },
  {
    img: 'blog-05.jpg',
    title: 'R2R - Render to Reality'
  },
  ]

//sb-last-blog
+b('sb-lastBlog', '', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") Последние материалы

    +e('list', '', 'ul')
      for i in lastBlog
        +e('item')
          +blog-card-sb(i)
