-
  const tags = [
    'award',
    'digital',
    'менджмент',
    'PR',
    'жизнь компании',
    'компанда',
    'event management',
    'eventist',
    'TV',
    'аналитика',
    'бизнес',
    'бюджет',
  ]

// sb-tags
+b('sb-tags', '', 'section')
  +e('inner')(class="inner")
    +e('heading', '', 'h2')(class="blockTitle") Тэги

    +e('list', '', 'ul')
      for i in tags
        +e('item'): a(href="#0")= i
