-
  const tagList = [
    'все',
    'event marketing',
    'опыт',
    // 'мероприятия',
    // 'digital',
    // 'тренды',
    // 'event marketing',
    // 'опыт',
    // 'мероприятия',
  ]

// tag-list
+b('tagList')
  +e('slider')
    +e('arrow', 'prev', 'button'): span.visually-hidden Назад

    +e('slides', '', 'ul')
      for i, index in tagList
        +e('slide')
          -
            let mod = null;
            if (index === 1) mod = 'active'
          +e('link', {m: mod})(href="#0")= i

    +e('arrow', 'next', 'button'): span.visually-hidden Вперед

